@import url("https://fonts.googleapis.com/css?family=Oxygen");
html {
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  scroll-behavior: smooth;
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1815px 1840px #FFF , 1412px 467px #FFF , 1987px 1814px #FFF , 1608px 874px #FFF , 1625px 522px #FFF , 108px 1982px #FFF , 872px 1571px #FFF , 349px 374px #FFF , 1090px 101px #FFF , 1513px 1793px #FFF , 181px 5px #FFF , 436px 1880px #FFF , 1814px 315px #FFF , 1965px 1007px #FFF , 192px 1509px #FFF , 67px 53px #FFF , 131px 1566px #FFF , 1132px 961px #FFF , 978px 1229px #FFF , 623px 1256px #FFF , 303px 1544px #FFF , 1635px 1079px #FFF , 1078px 921px #FFF , 854px 1406px #FFF , 866px 99px #FFF , 17px 214px #FFF , 1230px 454px #FFF , 1771px 1767px #FFF , 977px 807px #FFF , 513px 1146px #FFF , 6px 1473px #FFF , 678px 1707px #FFF , 1960px 1203px #FFF , 597px 1921px #FFF , 1921px 1320px #FFF , 713px 1993px #FFF , 1246px 382px #FFF , 1728px 1235px #FFF , 1733px 1272px #FFF , 953px 8px #FFF , 470px 1725px #FFF , 1729px 1031px #FFF , 1637px 1474px #FFF , 1449px 313px #FFF , 1926px 340px #FFF , 1468px 952px #FFF , 763px 80px #FFF , 1563px 1418px #FFF , 1559px 327px #FFF , 1542px 42px #FFF , 1324px 341px #FFF , 1558px 1630px #FFF , 404px 1130px #FFF , 174px 1080px #FFF , 919px 1374px #FFF , 8px 1352px #FFF , 1239px 1497px #FFF , 677px 1845px #FFF , 413px 1938px #FFF , 627px 1096px #FFF , 261px 1431px #FFF , 789px 1558px #FFF , 1806px 560px #FFF , 699px 1836px #FFF , 437px 1980px #FFF , 340px 1358px #FFF , 1611px 240px #FFF , 1280px 731px #FFF , 1636px 616px #FFF , 740px 1047px #FFF , 1158px 1147px #FFF , 634px 1261px #FFF , 1564px 242px #FFF , 179px 1428px #FFF , 1909px 1974px #FFF , 883px 87px #FFF , 1505px 832px #FFF , 1271px 1259px #FFF , 86px 1658px #FFF , 879px 201px #FFF , 78px 1671px #FFF , 1816px 1379px #FFF , 840px 1967px #FFF , 1744px 989px #FFF , 1649px 556px #FFF , 664px 960px #FFF , 642px 1963px #FFF , 1852px 454px #FFF , 339px 13px #FFF , 1597px 576px #FFF , 94px 11px #FFF , 1136px 1476px #FFF , 188px 340px #FFF , 668px 619px #FFF , 1170px 1382px #FFF , 1565px 1384px #FFF , 1379px 1544px #FFF , 1239px 1988px #FFF , 1667px 1501px #FFF , 1649px 1718px #FFF , 405px 527px #FFF , 581px 89px #FFF , 1452px 1523px #FFF , 1463px 67px #FFF , 1032px 811px #FFF , 1345px 316px #FFF , 922px 1671px #FFF , 712px 473px #FFF , 910px 1351px #FFF , 166px 1133px #FFF , 1165px 811px #FFF , 1426px 23px #FFF , 629px 626px #FFF , 1493px 754px #FFF , 1429px 560px #FFF , 1812px 1319px #FFF , 1910px 747px #FFF , 1436px 1374px #FFF , 1499px 1624px #FFF , 663px 1728px #FFF , 177px 496px #FFF , 1662px 1990px #FFF , 1357px 491px #FFF , 70px 480px #FFF , 575px 693px #FFF , 1445px 1347px #FFF , 72px 1680px #FFF , 806px 1534px #FFF , 688px 1513px #FFF , 1335px 1009px #FFF , 241px 512px #FFF , 1165px 1496px #FFF , 938px 620px #FFF , 476px 1779px #FFF , 1046px 764px #FFF , 1682px 1820px #FFF , 1068px 532px #FFF , 701px 956px #FFF , 300px 1365px #FFF , 1684px 371px #FFF , 300px 53px #FFF , 1234px 1837px #FFF , 1955px 158px #FFF , 1502px 1612px #FFF , 1203px 523px #FFF , 825px 1100px #FFF , 1257px 686px #FFF , 1388px 856px #FFF , 1764px 898px #FFF , 1668px 1779px #FFF , 1753px 1320px #FFF , 369px 1228px #FFF , 1799px 1884px #FFF , 1784px 1569px #FFF , 473px 628px #FFF , 1282px 705px #FFF , 319px 1767px #FFF , 1835px 1517px #FFF , 1968px 1113px #FFF , 841px 201px #FFF , 469px 815px #FFF , 1590px 412px #FFF , 470px 1110px #FFF , 481px 573px #FFF , 1675px 1318px #FFF , 52px 144px #FFF , 755px 691px #FFF , 1227px 1499px #FFF , 287px 1493px #FFF , 1734px 200px #FFF , 292px 556px #FFF , 278px 1897px #FFF , 1301px 92px #FFF , 1083px 1526px #FFF , 1892px 1331px #FFF , 1764px 1167px #FFF , 445px 1088px #FFF , 770px 1561px #FFF , 398px 918px #FFF , 1819px 177px #FFF , 1745px 590px #FFF , 675px 1037px #FFF , 952px 1717px #FFF , 1208px 570px #FFF , 942px 1559px #FFF , 922px 1127px #FFF , 421px 1476px #FFF , 1220px 736px #FFF , 1852px 950px #FFF , 1992px 1726px #FFF , 329px 1710px #FFF , 241px 1739px #FFF , 1667px 317px #FFF , 487px 608px #FFF , 916px 1061px #FFF , 213px 1783px #FFF , 911px 179px #FFF , 1312px 1341px #FFF , 1153px 1465px #FFF , 493px 1018px #FFF , 383px 593px #FFF , 1716px 829px #FFF , 1241px 73px #FFF , 1323px 1410px #FFF , 30px 295px #FFF , 1597px 1575px #FFF , 1755px 961px #FFF , 33px 1704px #FFF , 651px 1410px #FFF , 1992px 1427px #FFF , 4px 1357px #FFF , 1458px 1619px #FFF , 657px 1612px #FFF , 1928px 1431px #FFF , 1791px 1151px #FFF , 1992px 614px #FFF , 537px 236px #FFF , 1109px 1122px #FFF , 995px 108px #FFF , 740px 1314px #FFF , 651px 1664px #FFF , 1224px 979px #FFF , 899px 763px #FFF , 1853px 1686px #FFF , 1232px 1650px #FFF , 784px 1305px #FFF , 568px 1637px #FFF , 167px 656px #FFF , 1861px 492px #FFF , 395px 665px #FFF , 1095px 1930px #FFF , 1672px 1121px #FFF , 221px 1568px #FFF , 1795px 612px #FFF , 685px 1883px #FFF , 1709px 589px #FFF , 812px 266px #FFF , 1529px 115px #FFF , 1579px 1345px #FFF , 247px 830px #FFF , 354px 25px #FFF , 1593px 634px #FFF , 1789px 1855px #FFF , 540px 1133px #FFF , 255px 1359px #FFF , 288px 1749px #FFF , 1100px 225px #FFF , 1243px 1788px #FFF , 404px 1780px #FFF , 932px 644px #FFF , 720px 1196px #FFF , 1083px 1528px #FFF , 1463px 1399px #FFF , 769px 1604px #FFF , 208px 1678px #FFF , 1376px 1430px #FFF , 1784px 1483px #FFF , 61px 757px #FFF , 600px 1819px #FFF , 1789px 1634px #FFF , 1799px 164px #FFF , 1215px 1225px #FFF , 73px 1483px #FFF , 806px 608px #FFF , 484px 365px #FFF , 421px 457px #FFF , 53px 570px #FFF , 867px 1766px #FFF , 410px 229px #FFF , 1010px 491px #FFF , 1817px 1325px #FFF , 1209px 1239px #FFF , 208px 82px #FFF , 666px 1637px #FFF , 318px 1887px #FFF , 1270px 474px #FFF , 1930px 1076px #FFF , 1186px 1328px #FFF , 440px 429px #FFF , 1932px 694px #FFF , 559px 748px #FFF , 886px 1147px #FFF , 429px 1291px #FFF , 1632px 1346px #FFF , 1933px 1884px #FFF , 1981px 205px #FFF , 1534px 100px #FFF , 1384px 792px #FFF , 1489px 1789px #FFF , 1367px 387px #FFF , 1852px 528px #FFF , 1669px 61px #FFF , 301px 927px #FFF , 427px 1765px #FFF , 1348px 1219px #FFF , 397px 253px #FFF , 43px 1725px #FFF , 851px 620px #FFF , 1511px 1993px #FFF , 777px 1568px #FFF , 1019px 1460px #FFF , 914px 1497px #FFF , 1111px 753px #FFF , 1899px 1291px #FFF , 22px 1740px #FFF , 1167px 1150px #FFF , 305px 1128px #FFF , 1610px 797px #FFF , 1483px 1281px #FFF , 1123px 671px #FFF , 296px 949px #FFF , 1625px 6px #FFF , 1004px 106px #FFF , 531px 1727px #FFF , 855px 1126px #FFF , 1369px 638px #FFF , 1719px 286px #FFF , 40px 657px #FFF , 1020px 321px #FFF , 1588px 388px #FFF , 1479px 856px #FFF , 11px 1789px #FFF , 1043px 70px #FFF , 660px 1955px #FFF , 1723px 1470px #FFF , 1180px 167px #FFF , 558px 1920px #FFF , 486px 1752px #FFF , 41px 426px #FFF , 111px 1081px #FFF , 380px 333px #FFF , 1878px 144px #FFF , 1983px 19px #FFF , 1418px 401px #FFF , 1704px 98px #FFF , 1902px 1656px #FFF , 766px 1982px #FFF , 50px 1393px #FFF , 1323px 544px #FFF , 1269px 808px #FFF , 812px 854px #FFF , 1010px 1383px #FFF , 161px 518px #FFF , 717px 1309px #FFF , 1890px 1329px #FFF , 520px 1045px #FFF , 1048px 974px #FFF , 1805px 1226px #FFF , 143px 1885px #FFF , 1665px 830px #FFF , 323px 1304px #FFF , 1709px 1268px #FFF , 988px 333px #FFF , 932px 792px #FFF , 1652px 426px #FFF , 1362px 8px #FFF , 1606px 1042px #FFF , 1302px 224px #FFF , 583px 1776px #FFF , 1752px 1071px #FFF , 1217px 1824px #FFF , 1102px 805px #FFF , 476px 814px #FFF , 1055px 1804px #FFF , 145px 359px #FFF , 1133px 1832px #FFF , 1571px 1464px #FFF , 637px 1754px #FFF , 1769px 1931px #FFF , 1267px 596px #FFF , 526px 709px #FFF , 907px 1921px #FFF , 518px 1352px #FFF , 276px 1721px #FFF , 326px 1110px #FFF , 1422px 742px #FFF , 1794px 38px #FFF , 2000px 419px #FFF , 160px 425px #FFF , 1550px 838px #FFF , 1304px 1201px #FFF , 1457px 1356px #FFF , 1398px 473px #FFF , 125px 835px #FFF , 1953px 113px #FFF , 695px 3px #FFF , 476px 127px #FFF , 897px 758px #FFF , 940px 1652px #FFF , 1240px 1265px #FFF , 537px 515px #FFF , 696px 1206px #FFF , 1413px 855px #FFF , 890px 1440px #FFF , 259px 1411px #FFF , 803px 1602px #FFF , 1528px 346px #FFF , 18px 1691px #FFF , 1580px 1505px #FFF , 1661px 133px #FFF , 1762px 1975px #FFF , 1248px 1223px #FFF , 171px 1105px #FFF , 87px 1923px #FFF , 935px 1058px #FFF , 691px 1863px #FFF , 1386px 1850px #FFF , 862px 273px #FFF , 89px 1572px #FFF , 161px 23px #FFF , 559px 598px #FFF , 1217px 745px #FFF , 830px 232px #FFF , 68px 1062px #FFF , 48px 1577px #FFF , 1693px 1680px #FFF , 156px 1064px #FFF , 78px 1420px #FFF , 107px 1840px #FFF , 717px 1571px #FFF , 1362px 1270px #FFF , 1618px 1466px #FFF , 1741px 130px #FFF , 390px 1993px #FFF , 755px 1690px #FFF , 768px 820px #FFF , 1534px 1677px #FFF , 1429px 409px #FFF , 679px 848px #FFF , 768px 1999px #FFF , 1712px 1780px #FFF , 106px 992px #FFF , 1197px 204px #FFF , 1228px 374px #FFF , 1407px 1166px #FFF , 907px 1212px #FFF , 1412px 326px #FFF , 176px 1869px #FFF , 674px 915px #FFF , 1208px 1385px #FFF , 872px 1269px #FFF , 529px 150px #FFF , 383px 1626px #FFF , 1561px 1159px #FFF , 1335px 1706px #FFF , 258px 1630px #FFF , 68px 1518px #FFF , 1233px 704px #FFF , 1793px 1458px #FFF , 480px 914px #FFF , 939px 663px #FFF , 832px 1312px #FFF , 735px 797px #FFF , 1760px 1355px #FFF , 682px 1749px #FFF , 829px 821px #FFF , 383px 1576px #FFF , 1880px 1871px #FFF , 1305px 1103px #FFF , 834px 1331px #FFF , 336px 1582px #FFF , 1488px 308px #FFF , 472px 1906px #FFF , 1379px 221px #FFF , 1703px 334px #FFF , 1632px 641px #FFF , 542px 1755px #FFF , 1px 111px #FFF , 633px 262px #FFF , 803px 514px #FFF , 886px 846px #FFF , 1063px 1963px #FFF , 1859px 1672px #FFF , 1210px 1681px #FFF , 1172px 1946px #FFF , 519px 7px #FFF , 676px 1065px #FFF , 354px 175px #FFF , 131px 1809px #FFF , 1123px 532px #FFF , 746px 78px #FFF , 939px 1457px #FFF , 499px 1812px #FFF , 1796px 1224px #FFF , 1026px 1195px #FFF , 1420px 1270px #FFF , 1927px 1559px #FFF , 1296px 157px #FFF , 1018px 1900px #FFF , 318px 1857px #FFF , 1952px 1473px #FFF , 515px 1362px #FFF , 472px 286px #FFF , 1030px 532px #FFF , 1028px 1470px #FFF , 954px 675px #FFF , 1967px 164px #FFF , 1385px 226px #FFF , 530px 417px #FFF , 913px 694px #FFF , 497px 1873px #FFF , 841px 1340px #FFF , 813px 114px #FFF , 24px 500px #FFF , 1684px 906px #FFF , 1012px 731px #FFF , 465px 1512px #FFF , 1872px 1535px #FFF , 1386px 1219px #FFF , 1105px 222px #FFF , 267px 185px #FFF , 1998px 1773px #FFF , 639px 898px #FFF , 180px 42px #FFF , 1594px 987px #FFF , 597px 1846px #FFF , 1493px 1595px #FFF , 1069px 852px #FFF , 1920px 894px #FFF , 1356px 728px #FFF , 157px 142px #FFF , 1170px 145px #FFF , 1044px 1465px #FFF , 1736px 1283px #FFF , 315px 464px #FFF , 1954px 466px #FFF , 1118px 836px #FFF , 1375px 1665px #FFF , 1095px 768px #FFF , 1148px 1988px #FFF , 1764px 1875px #FFF , 1893px 1673px #FFF , 798px 290px #FFF , 252px 77px #FFF , 1911px 1413px #FFF , 1605px 1570px #FFF , 1835px 671px #FFF , 1608px 519px #FFF , 1619px 310px #FFF , 18px 1913px #FFF , 1002px 461px #FFF , 140px 1009px #FFF , 572px 1263px #FFF , 1386px 1377px #FFF , 977px 1605px #FFF , 1430px 1227px #FFF , 1187px 920px #FFF , 416px 319px #FFF , 904px 443px #FFF , 1410px 1690px #FFF , 683px 814px #FFF , 1151px 1993px #FFF , 856px 1886px #FFF , 398px 1551px #FFF , 364px 1832px #FFF , 271px 1257px #FFF , 1354px 1565px #FFF , 7px 189px #FFF , 844px 978px #FFF , 801px 1532px #FFF , 1813px 663px #FFF , 1100px 1365px #FFF , 27px 1685px #FFF , 1007px 831px #FFF , 1640px 527px #FFF , 1009px 374px #FFF , 794px 1160px #FFF , 1364px 227px #FFF , 665px 420px #FFF , 583px 1855px #FFF , 945px 1711px #FFF , 48px 830px #FFF , 957px 765px #FFF , 1805px 669px #FFF , 1516px 1516px #FFF , 246px 1026px #FFF , 1136px 1663px #FFF , 214px 1221px #FFF , 1713px 791px #FFF , 975px 1771px #FFF , 342px 631px #FFF , 382px 1944px #FFF , 85px 72px #FFF , 658px 1061px #FFF , 1627px 183px #FFF , 247px 1936px #FFF , 1575px 1136px #FFF , 480px 3px #FFF , 1976px 874px #FFF , 716px 1850px #FFF , 1980px 94px #FFF , 1445px 350px #FFF , 1024px 564px #FFF , 788px 191px #FFF , 1615px 1244px #FFF , 611px 1708px #FFF , 1557px 1132px #FFF , 1475px 1488px #FFF , 1225px 1068px #FFF , 95px 1446px #FFF , 1434px 310px #FFF , 1827px 847px #FFF , 729px 135px #FFF , 1912px 281px #FFF , 1618px 253px #FFF , 558px 1714px #FFF , 1099px 855px #FFF , 1607px 1460px #FFF , 233px 524px #FFF , 1191px 53px #FFF , 763px 1116px #FFF , 465px 98px #FFF , 1932px 1633px #FFF , 194px 852px #FFF , 1836px 697px #FFF , 800px 965px #FFF , 1801px 1020px #FFF , 44px 225px #FFF , 1872px 36px #FFF , 1947px 364px #FFF , 728px 1141px #FFF , 1427px 1747px #FFF , 1647px 1510px #FFF , 1473px 568px #FFF , 1447px 120px #FFF , 836px 647px #FFF , 624px 612px #FFF , 1044px 1997px #FFF , 1960px 907px #FFF , 1205px 1832px #FFF , 904px 177px #FFF , 415px 305px #FFF , 1888px 305px #FFF , 1903px 866px #FFF , 515px 791px #FFF , 913px 1179px #FFF , 1624px 1965px #FFF , 1487px 1501px #FFF , 706px 1709px #FFF , 95px 1868px #FFF , 1971px 1892px #FFF , 1266px 1554px #FFF , 1230px 109px #FFF , 1751px 1576px #FFF , 1824px 1875px #FFF , 1658px 885px #FFF , 1015px 1220px #FFF , 1380px 1454px #FFF , 598px 447px #FFF , 232px 295px #FFF , 1229px 1180px #FFF , 1795px 241px #FFF , 205px 1853px #FFF , 878px 1963px #FFF , 1381px 1659px #FFF , 75px 333px #FFF , 61px 376px #FFF , 349px 996px #FFF , 468px 422px #FFF , 830px 954px #FFF , 411px 463px #FFF , 1601px 505px #FFF , 865px 1060px #FFF , 1574px 473px #FFF , 1207px 55px #FFF , 1857px 1592px #FFF , 1787px 1884px #FFF , 897px 1023px #FFF , 1287px 1597px #FFF , 1010px 1560px #FFF , 698px 193px #FFF , 368px 336px #FFF , 39px 575px #FFF , 887px 1491px #FFF , 799px 513px #FFF , 149px 422px #FFF , 481px 430px #FFF , 1679px 1413px #FFF , 169px 1320px #FFF , 21px 211px #FFF , 1875px 836px #FFF , 207px 85px #FFF , 1187px 1124px #FFF , 878px 992px #FFF , 1397px 1846px #FFF , 216px 1820px #FFF , 778px 1688px #FFF , 1465px 179px #FFF , 1544px 281px #FFF , 1772px 1087px #FFF , 1722px 1917px #FFF , 137px 1992px #FFF , 1241px 1965px #FFF , 1769px 1599px #FFF , 1245px 1112px #FFF , 2000px 127px #FFF , 588px 1573px #FFF , 1265px 823px #FFF , 568px 480px #FFF , 159px 416px #FFF;
  animation: animStar 50s linear infinite;
}

.stars::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1815px 1840px #FFF , 1412px 467px #FFF , 1987px 1814px #FFF , 1608px 874px #FFF , 1625px 522px #FFF , 108px 1982px #FFF , 872px 1571px #FFF , 349px 374px #FFF , 1090px 101px #FFF , 1513px 1793px #FFF , 181px 5px #FFF , 436px 1880px #FFF , 1814px 315px #FFF , 1965px 1007px #FFF , 192px 1509px #FFF , 67px 53px #FFF , 131px 1566px #FFF , 1132px 961px #FFF , 978px 1229px #FFF , 623px 1256px #FFF , 303px 1544px #FFF , 1635px 1079px #FFF , 1078px 921px #FFF , 854px 1406px #FFF , 866px 99px #FFF , 17px 214px #FFF , 1230px 454px #FFF , 1771px 1767px #FFF , 977px 807px #FFF , 513px 1146px #FFF , 6px 1473px #FFF , 678px 1707px #FFF , 1960px 1203px #FFF , 597px 1921px #FFF , 1921px 1320px #FFF , 713px 1993px #FFF , 1246px 382px #FFF , 1728px 1235px #FFF , 1733px 1272px #FFF , 953px 8px #FFF , 470px 1725px #FFF , 1729px 1031px #FFF , 1637px 1474px #FFF , 1449px 313px #FFF , 1926px 340px #FFF , 1468px 952px #FFF , 763px 80px #FFF , 1563px 1418px #FFF , 1559px 327px #FFF , 1542px 42px #FFF , 1324px 341px #FFF , 1558px 1630px #FFF , 404px 1130px #FFF , 174px 1080px #FFF , 919px 1374px #FFF , 8px 1352px #FFF , 1239px 1497px #FFF , 677px 1845px #FFF , 413px 1938px #FFF , 627px 1096px #FFF , 261px 1431px #FFF , 789px 1558px #FFF , 1806px 560px #FFF , 699px 1836px #FFF , 437px 1980px #FFF , 340px 1358px #FFF , 1611px 240px #FFF , 1280px 731px #FFF , 1636px 616px #FFF , 740px 1047px #FFF , 1158px 1147px #FFF , 634px 1261px #FFF , 1564px 242px #FFF , 179px 1428px #FFF , 1909px 1974px #FFF , 883px 87px #FFF , 1505px 832px #FFF , 1271px 1259px #FFF , 86px 1658px #FFF , 879px 201px #FFF , 78px 1671px #FFF , 1816px 1379px #FFF , 840px 1967px #FFF , 1744px 989px #FFF , 1649px 556px #FFF , 664px 960px #FFF , 642px 1963px #FFF , 1852px 454px #FFF , 339px 13px #FFF , 1597px 576px #FFF , 94px 11px #FFF , 1136px 1476px #FFF , 188px 340px #FFF , 668px 619px #FFF , 1170px 1382px #FFF , 1565px 1384px #FFF , 1379px 1544px #FFF , 1239px 1988px #FFF , 1667px 1501px #FFF , 1649px 1718px #FFF , 405px 527px #FFF , 581px 89px #FFF , 1452px 1523px #FFF , 1463px 67px #FFF , 1032px 811px #FFF , 1345px 316px #FFF , 922px 1671px #FFF , 712px 473px #FFF , 910px 1351px #FFF , 166px 1133px #FFF , 1165px 811px #FFF , 1426px 23px #FFF , 629px 626px #FFF , 1493px 754px #FFF , 1429px 560px #FFF , 1812px 1319px #FFF , 1910px 747px #FFF , 1436px 1374px #FFF , 1499px 1624px #FFF , 663px 1728px #FFF , 177px 496px #FFF , 1662px 1990px #FFF , 1357px 491px #FFF , 70px 480px #FFF , 575px 693px #FFF , 1445px 1347px #FFF , 72px 1680px #FFF , 806px 1534px #FFF , 688px 1513px #FFF , 1335px 1009px #FFF , 241px 512px #FFF , 1165px 1496px #FFF , 938px 620px #FFF , 476px 1779px #FFF , 1046px 764px #FFF , 1682px 1820px #FFF , 1068px 532px #FFF , 701px 956px #FFF , 300px 1365px #FFF , 1684px 371px #FFF , 300px 53px #FFF , 1234px 1837px #FFF , 1955px 158px #FFF , 1502px 1612px #FFF , 1203px 523px #FFF , 825px 1100px #FFF , 1257px 686px #FFF , 1388px 856px #FFF , 1764px 898px #FFF , 1668px 1779px #FFF , 1753px 1320px #FFF , 369px 1228px #FFF , 1799px 1884px #FFF , 1784px 1569px #FFF , 473px 628px #FFF , 1282px 705px #FFF , 319px 1767px #FFF , 1835px 1517px #FFF , 1968px 1113px #FFF , 841px 201px #FFF , 469px 815px #FFF , 1590px 412px #FFF , 470px 1110px #FFF , 481px 573px #FFF , 1675px 1318px #FFF , 52px 144px #FFF , 755px 691px #FFF , 1227px 1499px #FFF , 287px 1493px #FFF , 1734px 200px #FFF , 292px 556px #FFF , 278px 1897px #FFF , 1301px 92px #FFF , 1083px 1526px #FFF , 1892px 1331px #FFF , 1764px 1167px #FFF , 445px 1088px #FFF , 770px 1561px #FFF , 398px 918px #FFF , 1819px 177px #FFF , 1745px 590px #FFF , 675px 1037px #FFF , 952px 1717px #FFF , 1208px 570px #FFF , 942px 1559px #FFF , 922px 1127px #FFF , 421px 1476px #FFF , 1220px 736px #FFF , 1852px 950px #FFF , 1992px 1726px #FFF , 329px 1710px #FFF , 241px 1739px #FFF , 1667px 317px #FFF , 487px 608px #FFF , 916px 1061px #FFF , 213px 1783px #FFF , 911px 179px #FFF , 1312px 1341px #FFF , 1153px 1465px #FFF , 493px 1018px #FFF , 383px 593px #FFF , 1716px 829px #FFF , 1241px 73px #FFF , 1323px 1410px #FFF , 30px 295px #FFF , 1597px 1575px #FFF , 1755px 961px #FFF , 33px 1704px #FFF , 651px 1410px #FFF , 1992px 1427px #FFF , 4px 1357px #FFF , 1458px 1619px #FFF , 657px 1612px #FFF , 1928px 1431px #FFF , 1791px 1151px #FFF , 1992px 614px #FFF , 537px 236px #FFF , 1109px 1122px #FFF , 995px 108px #FFF , 740px 1314px #FFF , 651px 1664px #FFF , 1224px 979px #FFF , 899px 763px #FFF , 1853px 1686px #FFF , 1232px 1650px #FFF , 784px 1305px #FFF , 568px 1637px #FFF , 167px 656px #FFF , 1861px 492px #FFF , 395px 665px #FFF , 1095px 1930px #FFF , 1672px 1121px #FFF , 221px 1568px #FFF , 1795px 612px #FFF , 685px 1883px #FFF , 1709px 589px #FFF , 812px 266px #FFF , 1529px 115px #FFF , 1579px 1345px #FFF , 247px 830px #FFF , 354px 25px #FFF , 1593px 634px #FFF , 1789px 1855px #FFF , 540px 1133px #FFF , 255px 1359px #FFF , 288px 1749px #FFF , 1100px 225px #FFF , 1243px 1788px #FFF , 404px 1780px #FFF , 932px 644px #FFF , 720px 1196px #FFF , 1083px 1528px #FFF , 1463px 1399px #FFF , 769px 1604px #FFF , 208px 1678px #FFF , 1376px 1430px #FFF , 1784px 1483px #FFF , 61px 757px #FFF , 600px 1819px #FFF , 1789px 1634px #FFF , 1799px 164px #FFF , 1215px 1225px #FFF , 73px 1483px #FFF , 806px 608px #FFF , 484px 365px #FFF , 421px 457px #FFF , 53px 570px #FFF , 867px 1766px #FFF , 410px 229px #FFF , 1010px 491px #FFF , 1817px 1325px #FFF , 1209px 1239px #FFF , 208px 82px #FFF , 666px 1637px #FFF , 318px 1887px #FFF , 1270px 474px #FFF , 1930px 1076px #FFF , 1186px 1328px #FFF , 440px 429px #FFF , 1932px 694px #FFF , 559px 748px #FFF , 886px 1147px #FFF , 429px 1291px #FFF , 1632px 1346px #FFF , 1933px 1884px #FFF , 1981px 205px #FFF , 1534px 100px #FFF , 1384px 792px #FFF , 1489px 1789px #FFF , 1367px 387px #FFF , 1852px 528px #FFF , 1669px 61px #FFF , 301px 927px #FFF , 427px 1765px #FFF , 1348px 1219px #FFF , 397px 253px #FFF , 43px 1725px #FFF , 851px 620px #FFF , 1511px 1993px #FFF , 777px 1568px #FFF , 1019px 1460px #FFF , 914px 1497px #FFF , 1111px 753px #FFF , 1899px 1291px #FFF , 22px 1740px #FFF , 1167px 1150px #FFF , 305px 1128px #FFF , 1610px 797px #FFF , 1483px 1281px #FFF , 1123px 671px #FFF , 296px 949px #FFF , 1625px 6px #FFF , 1004px 106px #FFF , 531px 1727px #FFF , 855px 1126px #FFF , 1369px 638px #FFF , 1719px 286px #FFF , 40px 657px #FFF , 1020px 321px #FFF , 1588px 388px #FFF , 1479px 856px #FFF , 11px 1789px #FFF , 1043px 70px #FFF , 660px 1955px #FFF , 1723px 1470px #FFF , 1180px 167px #FFF , 558px 1920px #FFF , 486px 1752px #FFF , 41px 426px #FFF , 111px 1081px #FFF , 380px 333px #FFF , 1878px 144px #FFF , 1983px 19px #FFF , 1418px 401px #FFF , 1704px 98px #FFF , 1902px 1656px #FFF , 766px 1982px #FFF , 50px 1393px #FFF , 1323px 544px #FFF , 1269px 808px #FFF , 812px 854px #FFF , 1010px 1383px #FFF , 161px 518px #FFF , 717px 1309px #FFF , 1890px 1329px #FFF , 520px 1045px #FFF , 1048px 974px #FFF , 1805px 1226px #FFF , 143px 1885px #FFF , 1665px 830px #FFF , 323px 1304px #FFF , 1709px 1268px #FFF , 988px 333px #FFF , 932px 792px #FFF , 1652px 426px #FFF , 1362px 8px #FFF , 1606px 1042px #FFF , 1302px 224px #FFF , 583px 1776px #FFF , 1752px 1071px #FFF , 1217px 1824px #FFF , 1102px 805px #FFF , 476px 814px #FFF , 1055px 1804px #FFF , 145px 359px #FFF , 1133px 1832px #FFF , 1571px 1464px #FFF , 637px 1754px #FFF , 1769px 1931px #FFF , 1267px 596px #FFF , 526px 709px #FFF , 907px 1921px #FFF , 518px 1352px #FFF , 276px 1721px #FFF , 326px 1110px #FFF , 1422px 742px #FFF , 1794px 38px #FFF , 2000px 419px #FFF , 160px 425px #FFF , 1550px 838px #FFF , 1304px 1201px #FFF , 1457px 1356px #FFF , 1398px 473px #FFF , 125px 835px #FFF , 1953px 113px #FFF , 695px 3px #FFF , 476px 127px #FFF , 897px 758px #FFF , 940px 1652px #FFF , 1240px 1265px #FFF , 537px 515px #FFF , 696px 1206px #FFF , 1413px 855px #FFF , 890px 1440px #FFF , 259px 1411px #FFF , 803px 1602px #FFF , 1528px 346px #FFF , 18px 1691px #FFF , 1580px 1505px #FFF , 1661px 133px #FFF , 1762px 1975px #FFF , 1248px 1223px #FFF , 171px 1105px #FFF , 87px 1923px #FFF , 935px 1058px #FFF , 691px 1863px #FFF , 1386px 1850px #FFF , 862px 273px #FFF , 89px 1572px #FFF , 161px 23px #FFF , 559px 598px #FFF , 1217px 745px #FFF , 830px 232px #FFF , 68px 1062px #FFF , 48px 1577px #FFF , 1693px 1680px #FFF , 156px 1064px #FFF , 78px 1420px #FFF , 107px 1840px #FFF , 717px 1571px #FFF , 1362px 1270px #FFF , 1618px 1466px #FFF , 1741px 130px #FFF , 390px 1993px #FFF , 755px 1690px #FFF , 768px 820px #FFF , 1534px 1677px #FFF , 1429px 409px #FFF , 679px 848px #FFF , 768px 1999px #FFF , 1712px 1780px #FFF , 106px 992px #FFF , 1197px 204px #FFF , 1228px 374px #FFF , 1407px 1166px #FFF , 907px 1212px #FFF , 1412px 326px #FFF , 176px 1869px #FFF , 674px 915px #FFF , 1208px 1385px #FFF , 872px 1269px #FFF , 529px 150px #FFF , 383px 1626px #FFF , 1561px 1159px #FFF , 1335px 1706px #FFF , 258px 1630px #FFF , 68px 1518px #FFF , 1233px 704px #FFF , 1793px 1458px #FFF , 480px 914px #FFF , 939px 663px #FFF , 832px 1312px #FFF , 735px 797px #FFF , 1760px 1355px #FFF , 682px 1749px #FFF , 829px 821px #FFF , 383px 1576px #FFF , 1880px 1871px #FFF , 1305px 1103px #FFF , 834px 1331px #FFF , 336px 1582px #FFF , 1488px 308px #FFF , 472px 1906px #FFF , 1379px 221px #FFF , 1703px 334px #FFF , 1632px 641px #FFF , 542px 1755px #FFF , 1px 111px #FFF , 633px 262px #FFF , 803px 514px #FFF , 886px 846px #FFF , 1063px 1963px #FFF , 1859px 1672px #FFF , 1210px 1681px #FFF , 1172px 1946px #FFF , 519px 7px #FFF , 676px 1065px #FFF , 354px 175px #FFF , 131px 1809px #FFF , 1123px 532px #FFF , 746px 78px #FFF , 939px 1457px #FFF , 499px 1812px #FFF , 1796px 1224px #FFF , 1026px 1195px #FFF , 1420px 1270px #FFF , 1927px 1559px #FFF , 1296px 157px #FFF , 1018px 1900px #FFF , 318px 1857px #FFF , 1952px 1473px #FFF , 515px 1362px #FFF , 472px 286px #FFF , 1030px 532px #FFF , 1028px 1470px #FFF , 954px 675px #FFF , 1967px 164px #FFF , 1385px 226px #FFF , 530px 417px #FFF , 913px 694px #FFF , 497px 1873px #FFF , 841px 1340px #FFF , 813px 114px #FFF , 24px 500px #FFF , 1684px 906px #FFF , 1012px 731px #FFF , 465px 1512px #FFF , 1872px 1535px #FFF , 1386px 1219px #FFF , 1105px 222px #FFF , 267px 185px #FFF , 1998px 1773px #FFF , 639px 898px #FFF , 180px 42px #FFF , 1594px 987px #FFF , 597px 1846px #FFF , 1493px 1595px #FFF , 1069px 852px #FFF , 1920px 894px #FFF , 1356px 728px #FFF , 157px 142px #FFF , 1170px 145px #FFF , 1044px 1465px #FFF , 1736px 1283px #FFF , 315px 464px #FFF , 1954px 466px #FFF , 1118px 836px #FFF , 1375px 1665px #FFF , 1095px 768px #FFF , 1148px 1988px #FFF , 1764px 1875px #FFF , 1893px 1673px #FFF , 798px 290px #FFF , 252px 77px #FFF , 1911px 1413px #FFF , 1605px 1570px #FFF , 1835px 671px #FFF , 1608px 519px #FFF , 1619px 310px #FFF , 18px 1913px #FFF , 1002px 461px #FFF , 140px 1009px #FFF , 572px 1263px #FFF , 1386px 1377px #FFF , 977px 1605px #FFF , 1430px 1227px #FFF , 1187px 920px #FFF , 416px 319px #FFF , 904px 443px #FFF , 1410px 1690px #FFF , 683px 814px #FFF , 1151px 1993px #FFF , 856px 1886px #FFF , 398px 1551px #FFF , 364px 1832px #FFF , 271px 1257px #FFF , 1354px 1565px #FFF , 7px 189px #FFF , 844px 978px #FFF , 801px 1532px #FFF , 1813px 663px #FFF , 1100px 1365px #FFF , 27px 1685px #FFF , 1007px 831px #FFF , 1640px 527px #FFF , 1009px 374px #FFF , 794px 1160px #FFF , 1364px 227px #FFF , 665px 420px #FFF , 583px 1855px #FFF , 945px 1711px #FFF , 48px 830px #FFF , 957px 765px #FFF , 1805px 669px #FFF , 1516px 1516px #FFF , 246px 1026px #FFF , 1136px 1663px #FFF , 214px 1221px #FFF , 1713px 791px #FFF , 975px 1771px #FFF , 342px 631px #FFF , 382px 1944px #FFF , 85px 72px #FFF , 658px 1061px #FFF , 1627px 183px #FFF , 247px 1936px #FFF , 1575px 1136px #FFF , 480px 3px #FFF , 1976px 874px #FFF , 716px 1850px #FFF , 1980px 94px #FFF , 1445px 350px #FFF , 1024px 564px #FFF , 788px 191px #FFF , 1615px 1244px #FFF , 611px 1708px #FFF , 1557px 1132px #FFF , 1475px 1488px #FFF , 1225px 1068px #FFF , 95px 1446px #FFF , 1434px 310px #FFF , 1827px 847px #FFF , 729px 135px #FFF , 1912px 281px #FFF , 1618px 253px #FFF , 558px 1714px #FFF , 1099px 855px #FFF , 1607px 1460px #FFF , 233px 524px #FFF , 1191px 53px #FFF , 763px 1116px #FFF , 465px 98px #FFF , 1932px 1633px #FFF , 194px 852px #FFF , 1836px 697px #FFF , 800px 965px #FFF , 1801px 1020px #FFF , 44px 225px #FFF , 1872px 36px #FFF , 1947px 364px #FFF , 728px 1141px #FFF , 1427px 1747px #FFF , 1647px 1510px #FFF , 1473px 568px #FFF , 1447px 120px #FFF , 836px 647px #FFF , 624px 612px #FFF , 1044px 1997px #FFF , 1960px 907px #FFF , 1205px 1832px #FFF , 904px 177px #FFF , 415px 305px #FFF , 1888px 305px #FFF , 1903px 866px #FFF , 515px 791px #FFF , 913px 1179px #FFF , 1624px 1965px #FFF , 1487px 1501px #FFF , 706px 1709px #FFF , 95px 1868px #FFF , 1971px 1892px #FFF , 1266px 1554px #FFF , 1230px 109px #FFF , 1751px 1576px #FFF , 1824px 1875px #FFF , 1658px 885px #FFF , 1015px 1220px #FFF , 1380px 1454px #FFF , 598px 447px #FFF , 232px 295px #FFF , 1229px 1180px #FFF , 1795px 241px #FFF , 205px 1853px #FFF , 878px 1963px #FFF , 1381px 1659px #FFF , 75px 333px #FFF , 61px 376px #FFF , 349px 996px #FFF , 468px 422px #FFF , 830px 954px #FFF , 411px 463px #FFF , 1601px 505px #FFF , 865px 1060px #FFF , 1574px 473px #FFF , 1207px 55px #FFF , 1857px 1592px #FFF , 1787px 1884px #FFF , 897px 1023px #FFF , 1287px 1597px #FFF , 1010px 1560px #FFF , 698px 193px #FFF , 368px 336px #FFF , 39px 575px #FFF , 887px 1491px #FFF , 799px 513px #FFF , 149px 422px #FFF , 481px 430px #FFF , 1679px 1413px #FFF , 169px 1320px #FFF , 21px 211px #FFF , 1875px 836px #FFF , 207px 85px #FFF , 1187px 1124px #FFF , 878px 992px #FFF , 1397px 1846px #FFF , 216px 1820px #FFF , 778px 1688px #FFF , 1465px 179px #FFF , 1544px 281px #FFF , 1772px 1087px #FFF , 1722px 1917px #FFF , 137px 1992px #FFF , 1241px 1965px #FFF , 1769px 1599px #FFF , 1245px 1112px #FFF , 2000px 127px #FFF , 588px 1573px #FFF , 1265px 823px #FFF , 568px 480px #FFF , 159px 416px #FFF;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: mulitple-box-shadow(200);
  animation: animStar 100s linear infinite;
}

.stars2::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: mulitple-box-shadow(200);
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: mulitple-box-shadow(100);
  animation: animStar 150s linear infinite;
}

.stars3::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: mulitple-box-shadow(100);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
.background-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 25vh;
  height: 50%;
  padding-top: 15vh;
}

.align-center {
  text-align: center;
}

.background-wrapper h1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.center {
  width: 1000px;
  height: 250px;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center h1 {
  color: #FFFFFF;
  font-size: 6em;
  font-weight: 700;
  margin: 0;
  font-family: "Oxygen", sans-serif;
}

.btnWrapper {
  width: auto;
  height: auto;
  top: 60%;
  position: relative;
  justify-content: center;
}

.FindMebutton {
  justify-content: center;
  align-items: center;
  margin: 7px;
}

.FindMebutton a {
  background: #003b59;
  border-radius: 999px;
  box-shadow: #6da0cd 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: -moz-fit-content;
  width: fit-content;
  word-break: break-word;
  border: 0;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.resumePOP {
  margin: 3% auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 66%;
  height: 85%;
  position: relative;
  transition: all 5s ease-in-out;
  display: flex;
}

.resumePOP .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.resumePOP .close:hover {
  color: #91c6f4;
}

.resumePOP .content {
  max-height: 100%;
  overflow: auto;
}

@media screen and (max-width: 900px) {
  .resumePOP {
    width: 70%;
  }
}
.content {
  display: flex;
  margin-top: 6px;
  margin-left: 20px;
  width: 100%;
  height: 750px;
}

.content p {
  font-family: "Oxygen", sans-serif;
}

.leftResume {
  display: flex;
  background-color: rgb(126, 219, 231);
  width: 2fr;
  height: 100%;
}

.rightResume {
  display: flex;
  background-color: rgb(162, 202, 206);
  width: 4fr;
  height: 100%;
}

.resumeHeader h2 {
  font-size: 2em;
}

.rightResume p {
  font-size: 1em;
}

.profimg {
  justify-content: center;
}

.contact p {
  width: auto;
  padding: 3%;
  text-align: center;
  font-size: 0.7em;
  font-weight: 800;
  opacity: 0.7;
}

.skills {
  display: inline-block;
  white-space: normal;
}

.RL {
  display: flex;
  flex-direction: column;
  font-family: "Oxygen", sans-serif;
}

.RR {
  padding-left: 10px;
  margin-right: auto;
  flex-direction: column;
}

.RR h2 {
  font-size: 3em;
  margin-bottom: 0;
  color: #333;
  font-family: "Oxygen", sans-serif;
}

.RR h5 {
  margin-top: 0;
  font-family: "Oxygen", sans-serif;
}

.RR h3 {
  font-family: "Oxygen", sans-serif;
}

.dl dt {
  font-family: "Oxygen", sans-serif;
}

.RR a {
  text-decoration: none;
  color: #1338BE;
}

.RR a:visited {
  text-decoration: none;
  color: #1338BE;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.content {
  max-width: 800px;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.Summary {
  background-color: red;
}

.Education {
  background-color: yellow;
}

.Languages {
  background-color: green;
}/*# sourceMappingURL=main.css.map */