@import url("https://fonts.googleapis.com/css?family=Oxygen");
html {
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 359px 1563px #FFF , 260px 972px #FFF , 1928px 197px #FFF , 65px 850px #FFF , 1320px 287px #FFF , 1954px 564px #FFF , 1231px 249px #FFF , 1252px 714px #FFF , 1484px 1789px #FFF , 1743px 1759px #FFF , 1001px 687px #FFF , 974px 526px #FFF , 441px 1010px #FFF , 239px 438px #FFF , 532px 1005px #FFF , 742px 672px #FFF , 1497px 215px #FFF , 1186px 1109px #FFF , 85px 245px #FFF , 1517px 7px #FFF , 1103px 839px #FFF , 1150px 158px #FFF , 851px 1134px #FFF , 214px 488px #FFF , 810px 1389px #FFF , 1090px 769px #FFF , 944px 1353px #FFF , 556px 1802px #FFF , 294px 1527px #FFF , 1964px 1873px #FFF , 1070px 1017px #FFF , 1755px 1477px #FFF , 1128px 266px #FFF , 24px 289px #FFF , 54px 1584px #FFF , 176px 527px #FFF , 325px 1739px #FFF , 1209px 1131px #FFF , 1893px 710px #FFF , 84px 609px #FFF , 1356px 1476px #FFF , 1022px 1512px #FFF , 189px 610px #FFF , 1598px 598px #FFF , 397px 1383px #FFF , 815px 834px #FFF , 1016px 488px #FFF , 1875px 1004px #FFF , 774px 1610px #FFF , 1095px 963px #FFF , 1168px 1348px #FFF , 1568px 1436px #FFF , 1608px 397px #FFF , 49px 1966px #FFF , 305px 465px #FFF , 338px 574px #FFF , 1929px 1919px #FFF , 1101px 375px #FFF , 1954px 56px #FFF , 1375px 1302px #FFF , 1481px 1621px #FFF , 382px 1939px #FFF , 86px 1171px #FFF , 1750px 479px #FFF , 1771px 1611px #FFF , 1757px 1923px #FFF , 340px 892px #FFF , 768px 1938px #FFF , 1770px 655px #FFF , 911px 1719px #FFF , 1446px 1124px #FFF , 339px 1432px #FFF , 1134px 882px #FFF , 782px 1259px #FFF , 1643px 1256px #FFF , 1045px 386px #FFF , 201px 906px #FFF , 281px 35px #FFF , 1435px 862px #FFF , 443px 1974px #FFF , 306px 308px #FFF , 734px 615px #FFF , 1225px 1546px #FFF , 675px 1257px #FFF , 1548px 1023px #FFF , 1075px 534px #FFF , 268px 525px #FFF , 294px 298px #FFF , 795px 937px #FFF , 517px 1900px #FFF , 1578px 1695px #FFF , 1851px 1141px #FFF , 63px 1589px #FFF , 817px 1950px #FFF , 1099px 137px #FFF , 136px 241px #FFF , 1843px 769px #FFF , 1433px 111px #FFF , 1108px 1762px #FFF , 1256px 655px #FFF , 1230px 148px #FFF , 944px 1713px #FFF , 1838px 836px #FFF , 1816px 209px #FFF , 295px 1411px #FFF , 45px 748px #FFF , 1586px 1252px #FFF , 630px 1080px #FFF , 860px 1477px #FFF , 1314px 935px #FFF , 277px 1414px #FFF , 719px 1px #FFF , 72px 1656px #FFF , 1750px 1009px #FFF , 996px 1412px #FFF , 346px 97px #FFF , 872px 672px #FFF , 1560px 849px #FFF , 975px 196px #FFF , 162px 1620px #FFF , 1489px 1354px #FFF , 1056px 1610px #FFF , 1042px 1974px #FFF , 1795px 351px #FFF , 146px 1425px #FFF , 205px 336px #FFF , 1526px 3px #FFF , 1141px 259px #FFF , 1909px 584px #FFF , 352px 517px #FFF , 1624px 848px #FFF , 1059px 420px #FFF , 1858px 1005px #FFF , 376px 1920px #FFF , 1095px 1625px #FFF , 432px 187px #FFF , 420px 1220px #FFF , 1113px 702px #FFF , 1026px 970px #FFF , 1441px 1258px #FFF , 863px 168px #FFF , 1083px 1374px #FFF , 1790px 873px #FFF , 984px 1846px #FFF , 946px 299px #FFF , 1589px 1142px #FFF , 1973px 1588px #FFF , 1308px 1643px #FFF , 1754px 821px #FFF , 1513px 575px #FFF , 1783px 1467px #FFF , 1888px 917px #FFF , 158px 307px #FFF , 1290px 1166px #FFF , 198px 70px #FFF , 807px 959px #FFF , 1383px 1787px #FFF , 147px 1014px #FFF , 525px 948px #FFF , 188px 1032px #FFF , 1302px 317px #FFF , 1420px 1537px #FFF , 1323px 893px #FFF , 517px 622px #FFF , 137px 151px #FFF , 1892px 54px #FFF , 1973px 319px #FFF , 1733px 772px #FFF , 1594px 1927px #FFF , 590px 1507px #FFF , 549px 444px #FFF , 1602px 295px #FFF , 1104px 1468px #FFF , 43px 85px #FFF , 1933px 1px #FFF , 391px 764px #FFF , 660px 394px #FFF , 664px 1797px #FFF , 396px 162px #FFF , 214px 363px #FFF , 1304px 1077px #FFF , 1068px 326px #FFF , 1384px 1130px #FFF , 247px 1564px #FFF , 725px 1133px #FFF , 1087px 1415px #FFF , 155px 1922px #FFF , 1777px 644px #FFF , 87px 1205px #FFF , 1935px 1136px #FFF , 333px 1141px #FFF , 1575px 547px #FFF , 248px 655px #FFF , 265px 50px #FFF , 130px 1412px #FFF , 1813px 1588px #FFF , 1862px 177px #FFF , 1949px 1289px #FFF , 76px 1855px #FFF , 492px 1520px #FFF , 135px 364px #FFF , 57px 1030px #FFF , 509px 633px #FFF , 1786px 1059px #FFF , 1429px 1278px #FFF , 967px 67px #FFF , 1995px 1586px #FFF , 576px 734px #FFF , 1261px 806px #FFF , 808px 705px #FFF , 1223px 1952px #FFF , 1085px 1243px #FFF , 867px 1168px #FFF , 1378px 1713px #FFF , 850px 1709px #FFF , 840px 258px #FFF , 833px 1890px #FFF , 910px 745px #FFF , 1923px 1921px #FFF , 864px 262px #FFF , 201px 994px #FFF , 1368px 628px #FFF , 1597px 1562px #FFF , 419px 443px #FFF , 242px 766px #FFF , 765px 198px #FFF , 1833px 568px #FFF , 158px 365px #FFF , 241px 1604px #FFF , 1065px 1836px #FFF , 1238px 829px #FFF , 1673px 1555px #FFF , 1870px 642px #FFF , 874px 1061px #FFF , 1830px 1905px #FFF , 1859px 618px #FFF , 636px 1741px #FFF , 1950px 315px #FFF , 1301px 848px #FFF , 1669px 912px #FFF , 371px 998px #FFF , 1540px 1471px #FFF , 99px 1384px #FFF , 502px 99px #FFF , 753px 788px #FFF , 1903px 1906px #FFF , 534px 1799px #FFF , 739px 371px #FFF , 86px 429px #FFF , 385px 354px #FFF , 1136px 1014px #FFF , 1248px 1483px #FFF , 882px 413px #FFF , 1971px 1704px #FFF , 256px 480px #FFF , 1536px 1264px #FFF , 535px 523px #FFF , 1965px 1241px #FFF , 816px 1043px #FFF , 937px 883px #FFF , 118px 1256px #FFF , 1718px 1384px #FFF , 415px 70px #FFF , 118px 1676px #FFF , 1554px 1002px #FFF , 1660px 154px #FFF , 899px 296px #FFF , 875px 334px #FFF , 652px 87px #FFF , 1749px 870px #FFF , 394px 488px #FFF , 104px 939px #FFF , 329px 1084px #FFF , 541px 1424px #FFF , 408px 1387px #FFF , 1901px 1551px #FFF , 1524px 140px #FFF , 1158px 792px #FFF , 22px 296px #FFF , 885px 532px #FFF , 23px 1347px #FFF , 615px 1243px #FFF , 1560px 378px #FFF , 907px 235px #FFF , 2px 764px #FFF , 1276px 1388px #FFF , 339px 420px #FFF , 938px 1478px #FFF , 195px 812px #FFF , 1436px 1285px #FFF , 1646px 662px #FFF , 847px 1397px #FFF , 1455px 86px #FFF , 1020px 1086px #FFF , 1870px 1580px #FFF , 1px 1087px #FFF , 282px 506px #FFF , 51px 1798px #FFF , 1821px 233px #FFF , 1329px 706px #FFF , 1128px 1494px #FFF , 298px 1711px #FFF , 1417px 828px #FFF , 156px 986px #FFF , 1544px 573px #FFF , 319px 504px #FFF , 953px 51px #FFF , 559px 1463px #FFF , 437px 368px #FFF , 18px 1682px #FFF , 998px 1889px #FFF , 1735px 390px #FFF , 1338px 1852px #FFF , 1631px 743px #FFF , 762px 1166px #FFF , 470px 472px #FFF , 1031px 841px #FFF , 1208px 953px #FFF , 1429px 328px #FFF , 1163px 1010px #FFF , 570px 1449px #FFF , 569px 624px #FFF , 1729px 1615px #FFF , 1829px 1431px #FFF , 575px 1537px #FFF , 1151px 1140px #FFF , 370px 212px #FFF , 1163px 1654px #FFF , 1372px 59px #FFF , 526px 896px #FFF , 1099px 669px #FFF , 225px 824px #FFF , 1070px 1196px #FFF , 216px 1944px #FFF , 217px 1464px #FFF , 1108px 176px #FFF , 1427px 1468px #FFF , 220px 1425px #FFF , 228px 722px #FFF , 220px 600px #FFF , 1667px 640px #FFF , 1695px 1953px #FFF , 764px 1486px #FFF , 1449px 1520px #FFF , 1048px 1203px #FFF , 1616px 1414px #FFF , 968px 1022px #FFF , 550px 1856px #FFF , 911px 228px #FFF , 1989px 322px #FFF , 276px 1224px #FFF , 794px 1006px #FFF , 1465px 758px #FFF , 1921px 629px #FFF , 1798px 10px #FFF , 145px 903px #FFF , 562px 1320px #FFF , 1284px 280px #FFF , 553px 882px #FFF , 1896px 1306px #FFF , 1757px 750px #FFF , 1146px 913px #FFF , 102px 1065px #FFF , 75px 166px #FFF , 279px 1452px #FFF , 1817px 1277px #FFF , 676px 445px #FFF , 555px 1355px #FFF , 1488px 1471px #FFF , 1936px 1389px #FFF , 1536px 50px #FFF , 1217px 519px #FFF , 514px 554px #FFF , 197px 700px #FFF , 43px 327px #FFF , 1562px 1772px #FFF , 1821px 1542px #FFF , 980px 1090px #FFF , 122px 1961px #FFF , 1879px 711px #FFF , 67px 668px #FFF , 265px 181px #FFF , 56px 1353px #FFF , 151px 71px #FFF , 1340px 182px #FFF , 136px 1739px #FFF , 1601px 1028px #FFF , 499px 1987px #FFF , 1120px 1489px #FFF , 1984px 1683px #FFF , 142px 928px #FFF , 346px 617px #FFF , 371px 1575px #FFF , 1156px 1449px #FFF , 1967px 1023px #FFF , 1869px 544px #FFF , 18px 775px #FFF , 224px 1544px #FFF , 454px 966px #FFF , 629px 68px #FFF , 1529px 238px #FFF , 1280px 189px #FFF , 1103px 1537px #FFF , 763px 1811px #FFF , 544px 1064px #FFF , 1211px 1748px #FFF , 342px 789px #FFF , 1749px 1328px #FFF , 1652px 1998px #FFF , 974px 1158px #FFF , 66px 1529px #FFF , 977px 1960px #FFF , 1260px 1836px #FFF , 1079px 539px #FFF , 700px 891px #FFF , 1760px 597px #FFF , 1020px 1480px #FFF , 109px 689px #FFF , 134px 1492px #FFF , 844px 261px #FFF , 1805px 755px #FFF , 1251px 1214px #FFF , 1651px 1574px #FFF , 623px 1633px #FFF , 861px 898px #FFF , 930px 492px #FFF , 347px 1223px #FFF , 1558px 1021px #FFF , 1013px 1426px #FFF , 821px 59px #FFF , 1219px 295px #FFF , 1559px 704px #FFF , 1974px 1344px #FFF , 704px 963px #FFF , 1518px 757px #FFF , 1480px 1406px #FFF , 1073px 356px #FFF , 508px 489px #FFF , 1034px 627px #FFF , 1827px 960px #FFF , 832px 537px #FFF , 580px 1822px #FFF , 650px 578px #FFF , 1778px 1336px #FFF , 191px 1100px #FFF , 191px 210px #FFF , 57px 1690px #FFF , 391px 1387px #FFF , 999px 222px #FFF , 1884px 1652px #FFF , 752px 1031px #FFF , 470px 501px #FFF , 1274px 727px #FFF , 990px 1007px #FFF , 410px 1296px #FFF , 1600px 1945px #FFF , 1574px 1560px #FFF , 215px 510px #FFF , 1858px 1195px #FFF , 813px 1577px #FFF , 1673px 860px #FFF , 1402px 1667px #FFF , 900px 190px #FFF , 1308px 309px #FFF , 1061px 1422px #FFF , 1299px 823px #FFF , 1528px 454px #FFF , 1868px 127px #FFF , 1710px 31px #FFF , 828px 1837px #FFF , 1367px 1390px #FFF , 286px 423px #FFF , 1393px 700px #FFF , 4px 1656px #FFF , 419px 1270px #FFF , 1792px 412px #FFF , 1862px 1571px #FFF , 973px 830px #FFF , 1778px 1636px #FFF , 1122px 127px #FFF , 918px 984px #FFF , 1553px 481px #FFF , 421px 1591px #FFF , 1377px 1595px #FFF , 6px 597px #FFF , 1116px 1377px #FFF , 107px 916px #FFF , 460px 675px #FFF , 258px 1602px #FFF , 1143px 574px #FFF , 1821px 1766px #FFF , 1914px 810px #FFF , 1719px 1039px #FFF , 1313px 1326px #FFF , 1781px 139px #FFF , 918px 558px #FFF , 1597px 1625px #FFF , 1366px 714px #FFF , 1183px 1188px #FFF , 94px 281px #FFF , 1335px 820px #FFF , 1359px 1766px #FFF , 81px 1499px #FFF , 1674px 1061px #FFF , 1079px 1838px #FFF , 1721px 384px #FFF , 1196px 1837px #FFF , 1632px 1767px #FFF , 1588px 79px #FFF , 52px 364px #FFF , 522px 439px #FFF , 441px 1239px #FFF , 1760px 862px #FFF , 1519px 645px #FFF , 342px 856px #FFF , 984px 513px #FFF , 1021px 775px #FFF , 156px 396px #FFF , 506px 842px #FFF , 858px 267px #FFF , 991px 990px #FFF , 1983px 1088px #FFF , 563px 1520px #FFF , 594px 675px #FFF , 1872px 1822px #FFF , 1765px 895px #FFF , 1079px 1728px #FFF , 185px 167px #FFF , 638px 115px #FFF , 1633px 1065px #FFF , 980px 1966px #FFF , 1183px 1741px #FFF , 289px 503px #FFF , 1322px 377px #FFF , 886px 178px #FFF , 18px 1439px #FFF , 981px 1220px #FFF , 1016px 913px #FFF , 1818px 171px #FFF , 92px 1401px #FFF , 1642px 690px #FFF , 763px 372px #FFF , 122px 1523px #FFF , 650px 1753px #FFF , 891px 1332px #FFF , 1153px 1869px #FFF , 1592px 1764px #FFF , 352px 215px #FFF , 1689px 306px #FFF , 1675px 394px #FFF , 366px 1911px #FFF , 801px 1786px #FFF , 290px 161px #FFF , 135px 152px #FFF , 1020px 1527px #FFF , 1357px 834px #FFF , 1238px 146px #FFF , 263px 374px #FFF , 1622px 463px #FFF , 875px 1003px #FFF , 802px 1788px #FFF , 789px 737px #FFF , 532px 929px #FFF , 191px 1778px #FFF , 1290px 1994px #FFF , 301px 1623px #FFF , 477px 657px #FFF , 1270px 875px #FFF , 1885px 1803px #FFF , 385px 1608px #FFF , 409px 499px #FFF , 130px 1773px #FFF , 925px 1074px #FFF , 577px 1962px #FFF , 1480px 1307px #FFF , 1751px 1508px #FFF , 1155px 20px #FFF , 1591px 981px #FFF , 641px 1209px #FFF , 1732px 732px #FFF , 596px 799px #FFF , 1703px 1605px #FFF , 1130px 614px #FFF , 1101px 304px #FFF , 1218px 809px #FFF , 259px 750px #FFF , 1673px 1610px #FFF , 756px 1571px #FFF , 1875px 226px #FFF , 882px 448px #FFF , 1159px 1583px #FFF , 1335px 802px #FFF , 771px 80px #FFF , 1244px 914px #FFF , 1133px 1447px #FFF , 293px 632px #FFF , 483px 598px #FFF , 574px 152px #FFF , 618px 1226px #FFF , 201px 1682px #FFF , 166px 1239px #FFF , 1196px 745px #FFF , 241px 1589px #FFF , 1245px 1948px #FFF , 1555px 765px #FFF , 293px 1493px #FFF , 649px 250px #FFF , 1998px 1249px #FFF , 1826px 1013px #FFF , 1380px 764px #FFF , 547px 627px #FFF , 49px 211px #FFF , 1725px 1029px #FFF , 1621px 1060px #FFF , 273px 1724px #FFF , 222px 880px #FFF , 540px 1184px #FFF , 1305px 1169px #FFF , 1462px 211px #FFF , 1420px 1619px #FFF , 1387px 1688px #FFF , 379px 1136px #FFF , 1588px 523px #FFF , 1051px 568px #FFF , 1735px 1879px #FFF , 1968px 1490px #FFF , 1492px 843px #FFF , 863px 1952px #FFF , 1826px 202px #FFF , 1593px 1406px #FFF , 1872px 851px #FFF , 1691px 1637px #FFF , 883px 818px #FFF , 1703px 622px #FFF , 294px 929px #FFF , 151px 560px #FFF , 998px 557px #FFF , 469px 1835px #FFF , 1165px 1871px #FFF , 428px 933px #FFF , 425px 1512px #FFF , 1257px 689px #FFF , 1615px 1058px #FFF , 621px 831px #FFF , 282px 1862px #FFF , 565px 1092px #FFF , 1735px 191px #FFF , 1288px 1086px #FFF , 1315px 454px #FFF , 457px 1046px #FFF , 1476px 320px #FFF , 160px 1863px #FFF , 1032px 1265px #FFF , 1462px 1982px #FFF , 1133px 275px #FFF , 386px 16px #FFF , 125px 339px #FFF , 1761px 839px #FFF , 457px 1757px #FFF , 1149px 1401px #FFF , 1576px 69px #FFF , 1408px 87px #FFF , 586px 1157px #FFF , 1699px 1784px #FFF , 1875px 1357px #FFF , 789px 1692px #FFF , 366px 908px #FFF , 1003px 1426px #FFF , 1657px 405px #FFF , 1196px 1381px #FFF , 1811px 198px #FFF , 1614px 222px #FFF , 1915px 930px #FFF , 1998px 1999px #FFF , 1842px 1040px #FFF , 535px 1113px #FFF , 158px 1895px #FFF , 564px 1750px #FFF , 1849px 1025px #FFF , 1478px 1362px #FFF , 1387px 225px #FFF , 1985px 1062px #FFF , 241px 1629px #FFF , 1637px 1372px #FFF , 862px 839px #FFF , 1385px 37px #FFF , 393px 1016px #FFF , 1264px 716px #FFF , 1158px 1388px #FFF , 1053px 1286px #FFF , 1326px 57px #FFF , 1099px 696px #FFF , 567px 456px #FFF , 1737px 1713px #FFF , 1989px 307px #FFF , 1215px 1699px #FFF , 113px 374px #FFF , 1956px 1304px #FFF , 1166px 1925px #FFF , 1788px 1332px #FFF;
  -webkit-animation: animStar 50s linear infinite;
          animation: animStar 50s linear infinite;
}

.stars::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 359px 1563px #FFF , 260px 972px #FFF , 1928px 197px #FFF , 65px 850px #FFF , 1320px 287px #FFF , 1954px 564px #FFF , 1231px 249px #FFF , 1252px 714px #FFF , 1484px 1789px #FFF , 1743px 1759px #FFF , 1001px 687px #FFF , 974px 526px #FFF , 441px 1010px #FFF , 239px 438px #FFF , 532px 1005px #FFF , 742px 672px #FFF , 1497px 215px #FFF , 1186px 1109px #FFF , 85px 245px #FFF , 1517px 7px #FFF , 1103px 839px #FFF , 1150px 158px #FFF , 851px 1134px #FFF , 214px 488px #FFF , 810px 1389px #FFF , 1090px 769px #FFF , 944px 1353px #FFF , 556px 1802px #FFF , 294px 1527px #FFF , 1964px 1873px #FFF , 1070px 1017px #FFF , 1755px 1477px #FFF , 1128px 266px #FFF , 24px 289px #FFF , 54px 1584px #FFF , 176px 527px #FFF , 325px 1739px #FFF , 1209px 1131px #FFF , 1893px 710px #FFF , 84px 609px #FFF , 1356px 1476px #FFF , 1022px 1512px #FFF , 189px 610px #FFF , 1598px 598px #FFF , 397px 1383px #FFF , 815px 834px #FFF , 1016px 488px #FFF , 1875px 1004px #FFF , 774px 1610px #FFF , 1095px 963px #FFF , 1168px 1348px #FFF , 1568px 1436px #FFF , 1608px 397px #FFF , 49px 1966px #FFF , 305px 465px #FFF , 338px 574px #FFF , 1929px 1919px #FFF , 1101px 375px #FFF , 1954px 56px #FFF , 1375px 1302px #FFF , 1481px 1621px #FFF , 382px 1939px #FFF , 86px 1171px #FFF , 1750px 479px #FFF , 1771px 1611px #FFF , 1757px 1923px #FFF , 340px 892px #FFF , 768px 1938px #FFF , 1770px 655px #FFF , 911px 1719px #FFF , 1446px 1124px #FFF , 339px 1432px #FFF , 1134px 882px #FFF , 782px 1259px #FFF , 1643px 1256px #FFF , 1045px 386px #FFF , 201px 906px #FFF , 281px 35px #FFF , 1435px 862px #FFF , 443px 1974px #FFF , 306px 308px #FFF , 734px 615px #FFF , 1225px 1546px #FFF , 675px 1257px #FFF , 1548px 1023px #FFF , 1075px 534px #FFF , 268px 525px #FFF , 294px 298px #FFF , 795px 937px #FFF , 517px 1900px #FFF , 1578px 1695px #FFF , 1851px 1141px #FFF , 63px 1589px #FFF , 817px 1950px #FFF , 1099px 137px #FFF , 136px 241px #FFF , 1843px 769px #FFF , 1433px 111px #FFF , 1108px 1762px #FFF , 1256px 655px #FFF , 1230px 148px #FFF , 944px 1713px #FFF , 1838px 836px #FFF , 1816px 209px #FFF , 295px 1411px #FFF , 45px 748px #FFF , 1586px 1252px #FFF , 630px 1080px #FFF , 860px 1477px #FFF , 1314px 935px #FFF , 277px 1414px #FFF , 719px 1px #FFF , 72px 1656px #FFF , 1750px 1009px #FFF , 996px 1412px #FFF , 346px 97px #FFF , 872px 672px #FFF , 1560px 849px #FFF , 975px 196px #FFF , 162px 1620px #FFF , 1489px 1354px #FFF , 1056px 1610px #FFF , 1042px 1974px #FFF , 1795px 351px #FFF , 146px 1425px #FFF , 205px 336px #FFF , 1526px 3px #FFF , 1141px 259px #FFF , 1909px 584px #FFF , 352px 517px #FFF , 1624px 848px #FFF , 1059px 420px #FFF , 1858px 1005px #FFF , 376px 1920px #FFF , 1095px 1625px #FFF , 432px 187px #FFF , 420px 1220px #FFF , 1113px 702px #FFF , 1026px 970px #FFF , 1441px 1258px #FFF , 863px 168px #FFF , 1083px 1374px #FFF , 1790px 873px #FFF , 984px 1846px #FFF , 946px 299px #FFF , 1589px 1142px #FFF , 1973px 1588px #FFF , 1308px 1643px #FFF , 1754px 821px #FFF , 1513px 575px #FFF , 1783px 1467px #FFF , 1888px 917px #FFF , 158px 307px #FFF , 1290px 1166px #FFF , 198px 70px #FFF , 807px 959px #FFF , 1383px 1787px #FFF , 147px 1014px #FFF , 525px 948px #FFF , 188px 1032px #FFF , 1302px 317px #FFF , 1420px 1537px #FFF , 1323px 893px #FFF , 517px 622px #FFF , 137px 151px #FFF , 1892px 54px #FFF , 1973px 319px #FFF , 1733px 772px #FFF , 1594px 1927px #FFF , 590px 1507px #FFF , 549px 444px #FFF , 1602px 295px #FFF , 1104px 1468px #FFF , 43px 85px #FFF , 1933px 1px #FFF , 391px 764px #FFF , 660px 394px #FFF , 664px 1797px #FFF , 396px 162px #FFF , 214px 363px #FFF , 1304px 1077px #FFF , 1068px 326px #FFF , 1384px 1130px #FFF , 247px 1564px #FFF , 725px 1133px #FFF , 1087px 1415px #FFF , 155px 1922px #FFF , 1777px 644px #FFF , 87px 1205px #FFF , 1935px 1136px #FFF , 333px 1141px #FFF , 1575px 547px #FFF , 248px 655px #FFF , 265px 50px #FFF , 130px 1412px #FFF , 1813px 1588px #FFF , 1862px 177px #FFF , 1949px 1289px #FFF , 76px 1855px #FFF , 492px 1520px #FFF , 135px 364px #FFF , 57px 1030px #FFF , 509px 633px #FFF , 1786px 1059px #FFF , 1429px 1278px #FFF , 967px 67px #FFF , 1995px 1586px #FFF , 576px 734px #FFF , 1261px 806px #FFF , 808px 705px #FFF , 1223px 1952px #FFF , 1085px 1243px #FFF , 867px 1168px #FFF , 1378px 1713px #FFF , 850px 1709px #FFF , 840px 258px #FFF , 833px 1890px #FFF , 910px 745px #FFF , 1923px 1921px #FFF , 864px 262px #FFF , 201px 994px #FFF , 1368px 628px #FFF , 1597px 1562px #FFF , 419px 443px #FFF , 242px 766px #FFF , 765px 198px #FFF , 1833px 568px #FFF , 158px 365px #FFF , 241px 1604px #FFF , 1065px 1836px #FFF , 1238px 829px #FFF , 1673px 1555px #FFF , 1870px 642px #FFF , 874px 1061px #FFF , 1830px 1905px #FFF , 1859px 618px #FFF , 636px 1741px #FFF , 1950px 315px #FFF , 1301px 848px #FFF , 1669px 912px #FFF , 371px 998px #FFF , 1540px 1471px #FFF , 99px 1384px #FFF , 502px 99px #FFF , 753px 788px #FFF , 1903px 1906px #FFF , 534px 1799px #FFF , 739px 371px #FFF , 86px 429px #FFF , 385px 354px #FFF , 1136px 1014px #FFF , 1248px 1483px #FFF , 882px 413px #FFF , 1971px 1704px #FFF , 256px 480px #FFF , 1536px 1264px #FFF , 535px 523px #FFF , 1965px 1241px #FFF , 816px 1043px #FFF , 937px 883px #FFF , 118px 1256px #FFF , 1718px 1384px #FFF , 415px 70px #FFF , 118px 1676px #FFF , 1554px 1002px #FFF , 1660px 154px #FFF , 899px 296px #FFF , 875px 334px #FFF , 652px 87px #FFF , 1749px 870px #FFF , 394px 488px #FFF , 104px 939px #FFF , 329px 1084px #FFF , 541px 1424px #FFF , 408px 1387px #FFF , 1901px 1551px #FFF , 1524px 140px #FFF , 1158px 792px #FFF , 22px 296px #FFF , 885px 532px #FFF , 23px 1347px #FFF , 615px 1243px #FFF , 1560px 378px #FFF , 907px 235px #FFF , 2px 764px #FFF , 1276px 1388px #FFF , 339px 420px #FFF , 938px 1478px #FFF , 195px 812px #FFF , 1436px 1285px #FFF , 1646px 662px #FFF , 847px 1397px #FFF , 1455px 86px #FFF , 1020px 1086px #FFF , 1870px 1580px #FFF , 1px 1087px #FFF , 282px 506px #FFF , 51px 1798px #FFF , 1821px 233px #FFF , 1329px 706px #FFF , 1128px 1494px #FFF , 298px 1711px #FFF , 1417px 828px #FFF , 156px 986px #FFF , 1544px 573px #FFF , 319px 504px #FFF , 953px 51px #FFF , 559px 1463px #FFF , 437px 368px #FFF , 18px 1682px #FFF , 998px 1889px #FFF , 1735px 390px #FFF , 1338px 1852px #FFF , 1631px 743px #FFF , 762px 1166px #FFF , 470px 472px #FFF , 1031px 841px #FFF , 1208px 953px #FFF , 1429px 328px #FFF , 1163px 1010px #FFF , 570px 1449px #FFF , 569px 624px #FFF , 1729px 1615px #FFF , 1829px 1431px #FFF , 575px 1537px #FFF , 1151px 1140px #FFF , 370px 212px #FFF , 1163px 1654px #FFF , 1372px 59px #FFF , 526px 896px #FFF , 1099px 669px #FFF , 225px 824px #FFF , 1070px 1196px #FFF , 216px 1944px #FFF , 217px 1464px #FFF , 1108px 176px #FFF , 1427px 1468px #FFF , 220px 1425px #FFF , 228px 722px #FFF , 220px 600px #FFF , 1667px 640px #FFF , 1695px 1953px #FFF , 764px 1486px #FFF , 1449px 1520px #FFF , 1048px 1203px #FFF , 1616px 1414px #FFF , 968px 1022px #FFF , 550px 1856px #FFF , 911px 228px #FFF , 1989px 322px #FFF , 276px 1224px #FFF , 794px 1006px #FFF , 1465px 758px #FFF , 1921px 629px #FFF , 1798px 10px #FFF , 145px 903px #FFF , 562px 1320px #FFF , 1284px 280px #FFF , 553px 882px #FFF , 1896px 1306px #FFF , 1757px 750px #FFF , 1146px 913px #FFF , 102px 1065px #FFF , 75px 166px #FFF , 279px 1452px #FFF , 1817px 1277px #FFF , 676px 445px #FFF , 555px 1355px #FFF , 1488px 1471px #FFF , 1936px 1389px #FFF , 1536px 50px #FFF , 1217px 519px #FFF , 514px 554px #FFF , 197px 700px #FFF , 43px 327px #FFF , 1562px 1772px #FFF , 1821px 1542px #FFF , 980px 1090px #FFF , 122px 1961px #FFF , 1879px 711px #FFF , 67px 668px #FFF , 265px 181px #FFF , 56px 1353px #FFF , 151px 71px #FFF , 1340px 182px #FFF , 136px 1739px #FFF , 1601px 1028px #FFF , 499px 1987px #FFF , 1120px 1489px #FFF , 1984px 1683px #FFF , 142px 928px #FFF , 346px 617px #FFF , 371px 1575px #FFF , 1156px 1449px #FFF , 1967px 1023px #FFF , 1869px 544px #FFF , 18px 775px #FFF , 224px 1544px #FFF , 454px 966px #FFF , 629px 68px #FFF , 1529px 238px #FFF , 1280px 189px #FFF , 1103px 1537px #FFF , 763px 1811px #FFF , 544px 1064px #FFF , 1211px 1748px #FFF , 342px 789px #FFF , 1749px 1328px #FFF , 1652px 1998px #FFF , 974px 1158px #FFF , 66px 1529px #FFF , 977px 1960px #FFF , 1260px 1836px #FFF , 1079px 539px #FFF , 700px 891px #FFF , 1760px 597px #FFF , 1020px 1480px #FFF , 109px 689px #FFF , 134px 1492px #FFF , 844px 261px #FFF , 1805px 755px #FFF , 1251px 1214px #FFF , 1651px 1574px #FFF , 623px 1633px #FFF , 861px 898px #FFF , 930px 492px #FFF , 347px 1223px #FFF , 1558px 1021px #FFF , 1013px 1426px #FFF , 821px 59px #FFF , 1219px 295px #FFF , 1559px 704px #FFF , 1974px 1344px #FFF , 704px 963px #FFF , 1518px 757px #FFF , 1480px 1406px #FFF , 1073px 356px #FFF , 508px 489px #FFF , 1034px 627px #FFF , 1827px 960px #FFF , 832px 537px #FFF , 580px 1822px #FFF , 650px 578px #FFF , 1778px 1336px #FFF , 191px 1100px #FFF , 191px 210px #FFF , 57px 1690px #FFF , 391px 1387px #FFF , 999px 222px #FFF , 1884px 1652px #FFF , 752px 1031px #FFF , 470px 501px #FFF , 1274px 727px #FFF , 990px 1007px #FFF , 410px 1296px #FFF , 1600px 1945px #FFF , 1574px 1560px #FFF , 215px 510px #FFF , 1858px 1195px #FFF , 813px 1577px #FFF , 1673px 860px #FFF , 1402px 1667px #FFF , 900px 190px #FFF , 1308px 309px #FFF , 1061px 1422px #FFF , 1299px 823px #FFF , 1528px 454px #FFF , 1868px 127px #FFF , 1710px 31px #FFF , 828px 1837px #FFF , 1367px 1390px #FFF , 286px 423px #FFF , 1393px 700px #FFF , 4px 1656px #FFF , 419px 1270px #FFF , 1792px 412px #FFF , 1862px 1571px #FFF , 973px 830px #FFF , 1778px 1636px #FFF , 1122px 127px #FFF , 918px 984px #FFF , 1553px 481px #FFF , 421px 1591px #FFF , 1377px 1595px #FFF , 6px 597px #FFF , 1116px 1377px #FFF , 107px 916px #FFF , 460px 675px #FFF , 258px 1602px #FFF , 1143px 574px #FFF , 1821px 1766px #FFF , 1914px 810px #FFF , 1719px 1039px #FFF , 1313px 1326px #FFF , 1781px 139px #FFF , 918px 558px #FFF , 1597px 1625px #FFF , 1366px 714px #FFF , 1183px 1188px #FFF , 94px 281px #FFF , 1335px 820px #FFF , 1359px 1766px #FFF , 81px 1499px #FFF , 1674px 1061px #FFF , 1079px 1838px #FFF , 1721px 384px #FFF , 1196px 1837px #FFF , 1632px 1767px #FFF , 1588px 79px #FFF , 52px 364px #FFF , 522px 439px #FFF , 441px 1239px #FFF , 1760px 862px #FFF , 1519px 645px #FFF , 342px 856px #FFF , 984px 513px #FFF , 1021px 775px #FFF , 156px 396px #FFF , 506px 842px #FFF , 858px 267px #FFF , 991px 990px #FFF , 1983px 1088px #FFF , 563px 1520px #FFF , 594px 675px #FFF , 1872px 1822px #FFF , 1765px 895px #FFF , 1079px 1728px #FFF , 185px 167px #FFF , 638px 115px #FFF , 1633px 1065px #FFF , 980px 1966px #FFF , 1183px 1741px #FFF , 289px 503px #FFF , 1322px 377px #FFF , 886px 178px #FFF , 18px 1439px #FFF , 981px 1220px #FFF , 1016px 913px #FFF , 1818px 171px #FFF , 92px 1401px #FFF , 1642px 690px #FFF , 763px 372px #FFF , 122px 1523px #FFF , 650px 1753px #FFF , 891px 1332px #FFF , 1153px 1869px #FFF , 1592px 1764px #FFF , 352px 215px #FFF , 1689px 306px #FFF , 1675px 394px #FFF , 366px 1911px #FFF , 801px 1786px #FFF , 290px 161px #FFF , 135px 152px #FFF , 1020px 1527px #FFF , 1357px 834px #FFF , 1238px 146px #FFF , 263px 374px #FFF , 1622px 463px #FFF , 875px 1003px #FFF , 802px 1788px #FFF , 789px 737px #FFF , 532px 929px #FFF , 191px 1778px #FFF , 1290px 1994px #FFF , 301px 1623px #FFF , 477px 657px #FFF , 1270px 875px #FFF , 1885px 1803px #FFF , 385px 1608px #FFF , 409px 499px #FFF , 130px 1773px #FFF , 925px 1074px #FFF , 577px 1962px #FFF , 1480px 1307px #FFF , 1751px 1508px #FFF , 1155px 20px #FFF , 1591px 981px #FFF , 641px 1209px #FFF , 1732px 732px #FFF , 596px 799px #FFF , 1703px 1605px #FFF , 1130px 614px #FFF , 1101px 304px #FFF , 1218px 809px #FFF , 259px 750px #FFF , 1673px 1610px #FFF , 756px 1571px #FFF , 1875px 226px #FFF , 882px 448px #FFF , 1159px 1583px #FFF , 1335px 802px #FFF , 771px 80px #FFF , 1244px 914px #FFF , 1133px 1447px #FFF , 293px 632px #FFF , 483px 598px #FFF , 574px 152px #FFF , 618px 1226px #FFF , 201px 1682px #FFF , 166px 1239px #FFF , 1196px 745px #FFF , 241px 1589px #FFF , 1245px 1948px #FFF , 1555px 765px #FFF , 293px 1493px #FFF , 649px 250px #FFF , 1998px 1249px #FFF , 1826px 1013px #FFF , 1380px 764px #FFF , 547px 627px #FFF , 49px 211px #FFF , 1725px 1029px #FFF , 1621px 1060px #FFF , 273px 1724px #FFF , 222px 880px #FFF , 540px 1184px #FFF , 1305px 1169px #FFF , 1462px 211px #FFF , 1420px 1619px #FFF , 1387px 1688px #FFF , 379px 1136px #FFF , 1588px 523px #FFF , 1051px 568px #FFF , 1735px 1879px #FFF , 1968px 1490px #FFF , 1492px 843px #FFF , 863px 1952px #FFF , 1826px 202px #FFF , 1593px 1406px #FFF , 1872px 851px #FFF , 1691px 1637px #FFF , 883px 818px #FFF , 1703px 622px #FFF , 294px 929px #FFF , 151px 560px #FFF , 998px 557px #FFF , 469px 1835px #FFF , 1165px 1871px #FFF , 428px 933px #FFF , 425px 1512px #FFF , 1257px 689px #FFF , 1615px 1058px #FFF , 621px 831px #FFF , 282px 1862px #FFF , 565px 1092px #FFF , 1735px 191px #FFF , 1288px 1086px #FFF , 1315px 454px #FFF , 457px 1046px #FFF , 1476px 320px #FFF , 160px 1863px #FFF , 1032px 1265px #FFF , 1462px 1982px #FFF , 1133px 275px #FFF , 386px 16px #FFF , 125px 339px #FFF , 1761px 839px #FFF , 457px 1757px #FFF , 1149px 1401px #FFF , 1576px 69px #FFF , 1408px 87px #FFF , 586px 1157px #FFF , 1699px 1784px #FFF , 1875px 1357px #FFF , 789px 1692px #FFF , 366px 908px #FFF , 1003px 1426px #FFF , 1657px 405px #FFF , 1196px 1381px #FFF , 1811px 198px #FFF , 1614px 222px #FFF , 1915px 930px #FFF , 1998px 1999px #FFF , 1842px 1040px #FFF , 535px 1113px #FFF , 158px 1895px #FFF , 564px 1750px #FFF , 1849px 1025px #FFF , 1478px 1362px #FFF , 1387px 225px #FFF , 1985px 1062px #FFF , 241px 1629px #FFF , 1637px 1372px #FFF , 862px 839px #FFF , 1385px 37px #FFF , 393px 1016px #FFF , 1264px 716px #FFF , 1158px 1388px #FFF , 1053px 1286px #FFF , 1326px 57px #FFF , 1099px 696px #FFF , 567px 456px #FFF , 1737px 1713px #FFF , 1989px 307px #FFF , 1215px 1699px #FFF , 113px 374px #FFF , 1956px 1304px #FFF , 1166px 1925px #FFF , 1788px 1332px #FFF;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: mulitple-box-shadow(200);
  -webkit-animation: animStar 100s linear infinite;
          animation: animStar 100s linear infinite;
}

.stars2::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: mulitple-box-shadow(200);
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: mulitple-box-shadow(100);
  -webkit-animation: animStar 150s linear infinite;
          animation: animStar 150s linear infinite;
}

.stars3::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: mulitple-box-shadow(100);
}

@-webkit-keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
.background-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 25vh;
  height: 50%;
  padding-top: 15vh;
}

.align-center {
  text-align: center;
}

.background-wrapper h1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.center {
  width: 1000px;
  height: 250px;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center h1 {
  color: #FFFFFF;
  font-size: 6em;
  font-weight: 700;
  margin: 0;
  font-family: "Oxygen", sans-serif;
}

.btnWrapper {
  width: auto;
  height: auto;
  top: 60%;
  position: relative;
  justify-content: center;
}

.FindMebutton {
  justify-content: center;
  align-items: center;
  margin: 7px;
}

.FindMebutton a {
  background: #003b59;
  border-radius: 999px;
  box-shadow: #6da0cd 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  word-break: break-word;
  border: 0;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.resumePOP {
  margin: 3% auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 66%;
  height: 85%;
  position: relative;
  transition: all 5s ease-in-out;
  display: flex;
}

.resumePOP .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.resumePOP .close:hover {
  color: #91c6f4;
}

.resumePOP .content {
  max-height: 100%;
  overflow: auto;
}

@media screen and (max-width: 900px) {
  .resumePOP {
    width: 70%;
  }
}
.content {
  display: flex;
  margin-top: 6px;
  margin-left: 20px;
  width: 100%;
  height: 750px;
}

.content p {
  font-family: "Oxygen", sans-serif;
}

.leftResume {
  display: flex;
  background-color: rgb(126, 219, 231);
  width: 2fr;
  height: 100%;
}

.rightResume {
  display: flex;
  background-color: rgb(162, 202, 206);
  width: 4fr;
  height: 100%;
}

.resumeHeader h2 {
  font-size: 2em;
}

.rightResume p {
  font-size: 1em;
}

.profimg {
  justify-content: center;
}

.contact p {
  width: auto;
  padding: 3%;
  font-size: 0.5em;
  opacity: 0.7;
}

.skills {
  display: inline-block;
  white-space: normal;
}

.RL {
  display: flex;
  flex-direction: column;
}

.RR {
  margin-left: auto;
  margin-right: auto;
}

.RR h2 {
  font-size: 3em;
  margin-bottom: 0;
  color: #333;
  font-family: "Oxygen", sans-serif;
}

.RR h5 {
  margin-top: 0;
  font-family: "Oxygen", sans-serif;
}/*# sourceMappingURL=main.css.map */