@import url("https://fonts.googleapis.com/css?family=Oxygen");
html {
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  scroll-behavior: smooth;
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1409px 1584px #FFF , 517px 1363px #FFF , 1597px 567px #FFF , 1097px 850px #FFF , 703px 289px #FFF , 905px 238px #FFF , 719px 541px #FFF , 136px 836px #FFF , 313px 1044px #FFF , 125px 1059px #FFF , 1906px 1977px #FFF , 391px 1494px #FFF , 1070px 39px #FFF , 1230px 196px #FFF , 1108px 1094px #FFF , 1633px 848px #FFF , 669px 387px #FFF , 47px 1389px #FFF , 463px 966px #FFF , 536px 1851px #FFF , 436px 1904px #FFF , 627px 847px #FFF , 144px 641px #FFF , 922px 1451px #FFF , 728px 1277px #FFF , 596px 1903px #FFF , 221px 404px #FFF , 1343px 1798px #FFF , 16px 379px #FFF , 707px 1326px #FFF , 1718px 401px #FFF , 1615px 851px #FFF , 438px 516px #FFF , 1994px 706px #FFF , 1270px 753px #FFF , 1522px 1336px #FFF , 1350px 1419px #FFF , 1600px 1569px #FFF , 1474px 1490px #FFF , 452px 1162px #FFF , 626px 1442px #FFF , 1475px 1370px #FFF , 390px 1343px #FFF , 866px 1081px #FFF , 1775px 1022px #FFF , 1196px 1152px #FFF , 1288px 1916px #FFF , 349px 577px #FFF , 1459px 524px #FFF , 1390px 1114px #FFF , 1635px 1818px #FFF , 1941px 260px #FFF , 887px 906px #FFF , 1183px 616px #FFF , 1041px 1158px #FFF , 768px 468px #FFF , 1744px 646px #FFF , 1032px 1661px #FFF , 490px 1893px #FFF , 521px 1970px #FFF , 1862px 186px #FFF , 155px 961px #FFF , 1166px 1658px #FFF , 723px 890px #FFF , 1190px 286px #FFF , 1246px 441px #FFF , 38px 1147px #FFF , 588px 1576px #FFF , 1811px 1797px #FFF , 507px 973px #FFF , 6px 1036px #FFF , 1184px 785px #FFF , 930px 687px #FFF , 1084px 63px #FFF , 1146px 172px #FFF , 349px 1919px #FFF , 1151px 225px #FFF , 1176px 994px #FFF , 1521px 1704px #FFF , 4px 95px #FFF , 745px 1057px #FFF , 76px 1025px #FFF , 243px 620px #FFF , 19px 1780px #FFF , 897px 1949px #FFF , 1027px 321px #FFF , 292px 1502px #FFF , 685px 577px #FFF , 1746px 393px #FFF , 550px 1981px #FFF , 595px 1550px #FFF , 685px 1714px #FFF , 564px 1042px #FFF , 1507px 1316px #FFF , 1087px 291px #FFF , 943px 1601px #FFF , 1564px 159px #FFF , 972px 750px #FFF , 774px 62px #FFF , 1566px 1380px #FFF , 1396px 1284px #FFF , 1692px 1497px #FFF , 603px 488px #FFF , 591px 1534px #FFF , 1915px 962px #FFF , 1956px 1595px #FFF , 1754px 956px #FFF , 682px 1861px #FFF , 1163px 1760px #FFF , 1018px 1318px #FFF , 961px 1784px #FFF , 1844px 1431px #FFF , 101px 193px #FFF , 1381px 1069px #FFF , 1777px 914px #FFF , 1581px 1498px #FFF , 1063px 763px #FFF , 1807px 554px #FFF , 419px 1970px #FFF , 1913px 1698px #FFF , 165px 1688px #FFF , 287px 1413px #FFF , 544px 221px #FFF , 1869px 1480px #FFF , 1601px 1984px #FFF , 823px 847px #FFF , 178px 170px #FFF , 517px 1182px #FFF , 778px 1014px #FFF , 684px 1793px #FFF , 1938px 1934px #FFF , 1522px 854px #FFF , 79px 1647px #FFF , 1090px 772px #FFF , 130px 275px #FFF , 1812px 1156px #FFF , 540px 1375px #FFF , 125px 1897px #FFF , 1654px 1000px #FFF , 1440px 1069px #FFF , 476px 1829px #FFF , 655px 250px #FFF , 1145px 684px #FFF , 760px 1317px #FFF , 220px 1185px #FFF , 168px 1698px #FFF , 1286px 815px #FFF , 1697px 1879px #FFF , 117px 689px #FFF , 1028px 373px #FFF , 1832px 1576px #FFF , 1663px 1161px #FFF , 1596px 745px #FFF , 1286px 1764px #FFF , 1774px 643px #FFF , 1759px 407px #FFF , 707px 1377px #FFF , 806px 954px #FFF , 653px 1237px #FFF , 886px 680px #FFF , 1518px 756px #FFF , 235px 753px #FFF , 770px 792px #FFF , 1092px 322px #FFF , 1059px 1263px #FFF , 1279px 493px #FFF , 1388px 894px #FFF , 1058px 1580px #FFF , 1555px 56px #FFF , 1347px 1132px #FFF , 1287px 1178px #FFF , 804px 1637px #FFF , 809px 1165px #FFF , 513px 910px #FFF , 1493px 1560px #FFF , 652px 1100px #FFF , 1780px 1697px #FFF , 887px 1448px #FFF , 1337px 36px #FFF , 1341px 177px #FFF , 608px 1976px #FFF , 1328px 648px #FFF , 926px 758px #FFF , 630px 280px #FFF , 490px 1646px #FFF , 1182px 1414px #FFF , 1217px 965px #FFF , 866px 1662px #FFF , 1887px 668px #FFF , 292px 1002px #FFF , 165px 247px #FFF , 1027px 1221px #FFF , 1547px 991px #FFF , 1626px 608px #FFF , 1664px 934px #FFF , 1110px 1193px #FFF , 833px 1908px #FFF , 126px 462px #FFF , 1446px 94px #FFF , 1705px 1875px #FFF , 155px 771px #FFF , 1564px 1953px #FFF , 1679px 1826px #FFF , 594px 209px #FFF , 110px 1424px #FFF , 287px 1466px #FFF , 473px 1359px #FFF , 474px 1838px #FFF , 1731px 1619px #FFF , 740px 577px #FFF , 998px 1195px #FFF , 833px 1798px #FFF , 1728px 306px #FFF , 160px 957px #FFF , 1528px 1622px #FFF , 1975px 1256px #FFF , 637px 1203px #FFF , 1237px 1364px #FFF , 630px 1326px #FFF , 22px 574px #FFF , 290px 736px #FFF , 1171px 23px #FFF , 1736px 1125px #FFF , 877px 1601px #FFF , 1520px 973px #FFF , 223px 958px #FFF , 1505px 802px #FFF , 747px 270px #FFF , 1020px 1196px #FFF , 1327px 703px #FFF , 1889px 795px #FFF , 889px 1006px #FFF , 1517px 286px #FFF , 312px 1004px #FFF , 945px 61px #FFF , 643px 97px #FFF , 740px 1124px #FFF , 1941px 915px #FFF , 1870px 1876px #FFF , 224px 1815px #FFF , 398px 101px #FFF , 1909px 410px #FFF , 1215px 1423px #FFF , 877px 158px #FFF , 1759px 1237px #FFF , 954px 327px #FFF , 1885px 357px #FFF , 1246px 973px #FFF , 450px 126px #FFF , 1434px 1293px #FFF , 612px 1303px #FFF , 298px 1305px #FFF , 15px 401px #FFF , 896px 527px #FFF , 654px 1311px #FFF , 1362px 1367px #FFF , 661px 894px #FFF , 1461px 1498px #FFF , 1117px 771px #FFF , 755px 1276px #FFF , 945px 165px #FFF , 1787px 338px #FFF , 1237px 872px #FFF , 483px 1681px #FFF , 950px 1126px #FFF , 1236px 203px #FFF , 772px 1973px #FFF , 1403px 1956px #FFF , 1203px 852px #FFF , 407px 1024px #FFF , 532px 615px #FFF , 1393px 954px #FFF , 1153px 1872px #FFF , 1246px 1417px #FFF , 511px 277px #FFF , 1829px 955px #FFF , 1013px 1538px #FFF , 221px 689px #FFF , 1843px 1163px #FFF , 607px 965px #FFF , 16px 342px #FFF , 85px 103px #FFF , 1297px 920px #FFF , 295px 1897px #FFF , 1520px 538px #FFF , 407px 419px #FFF , 225px 1825px #FFF , 1224px 1309px #FFF , 221px 271px #FFF , 4px 1204px #FFF , 286px 1589px #FFF , 57px 1140px #FFF , 559px 1392px #FFF , 324px 124px #FFF , 1903px 52px #FFF , 1161px 654px #FFF , 1155px 787px #FFF , 1993px 1135px #FFF , 357px 1845px #FFF , 656px 1978px #FFF , 315px 362px #FFF , 463px 268px #FFF , 1018px 1878px #FFF , 1817px 119px #FFF , 1275px 249px #FFF , 979px 1690px #FFF , 1326px 1882px #FFF , 215px 1400px #FFF , 784px 570px #FFF , 618px 1767px #FFF , 544px 1211px #FFF , 1901px 1621px #FFF , 209px 1624px #FFF , 1754px 1954px #FFF , 236px 811px #FFF , 1731px 1485px #FFF , 1635px 688px #FFF , 1444px 1011px #FFF , 1041px 775px #FFF , 549px 1533px #FFF , 867px 1216px #FFF , 1395px 1636px #FFF , 1991px 457px #FFF , 356px 1242px #FFF , 1588px 597px #FFF , 1021px 972px #FFF , 210px 1256px #FFF , 1862px 5px #FFF , 1251px 407px #FFF , 886px 1491px #FFF , 1200px 177px #FFF , 232px 1298px #FFF , 89px 471px #FFF , 101px 103px #FFF , 19px 931px #FFF , 945px 1845px #FFF , 1445px 1122px #FFF , 1177px 697px #FFF , 1436px 1002px #FFF , 194px 547px #FFF , 1060px 804px #FFF , 348px 703px #FFF , 911px 1665px #FFF , 379px 1647px #FFF , 878px 1734px #FFF , 460px 130px #FFF , 786px 1076px #FFF , 1007px 347px #FFF , 40px 571px #FFF , 1289px 1030px #FFF , 194px 1229px #FFF , 267px 382px #FFF , 1254px 820px #FFF , 1414px 1525px #FFF , 209px 1240px #FFF , 1398px 635px #FFF , 831px 1927px #FFF , 411px 287px #FFF , 535px 1984px #FFF , 1934px 1513px #FFF , 770px 760px #FFF , 712px 631px #FFF , 1177px 1023px #FFF , 977px 295px #FFF , 1590px 677px #FFF , 152px 45px #FFF , 523px 1953px #FFF , 292px 719px #FFF , 786px 1158px #FFF , 1982px 244px #FFF , 1033px 1468px #FFF , 1906px 668px #FFF , 1619px 81px #FFF , 1194px 452px #FFF , 1128px 140px #FFF , 340px 1039px #FFF , 1573px 41px #FFF , 1483px 581px #FFF , 975px 1238px #FFF , 562px 1090px #FFF , 1639px 178px #FFF , 831px 1618px #FFF , 1893px 1714px #FFF , 237px 1990px #FFF , 216px 289px #FFF , 1952px 886px #FFF , 451px 669px #FFF , 503px 169px #FFF , 1099px 1196px #FFF , 1239px 1285px #FFF , 1687px 1569px #FFF , 1996px 1495px #FFF , 495px 396px #FFF , 1909px 79px #FFF , 115px 1452px #FFF , 1406px 1239px #FFF , 696px 259px #FFF , 185px 1681px #FFF , 1578px 1101px #FFF , 1693px 1846px #FFF , 137px 1112px #FFF , 31px 833px #FFF , 1933px 923px #FFF , 196px 1141px #FFF , 968px 1703px #FFF , 541px 1836px #FFF , 1475px 534px #FFF , 1375px 382px #FFF , 655px 58px #FFF , 1327px 764px #FFF , 1740px 1279px #FFF , 899px 1143px #FFF , 1896px 476px #FFF , 1404px 396px #FFF , 104px 1357px #FFF , 391px 1603px #FFF , 111px 1709px #FFF , 836px 292px #FFF , 1038px 777px #FFF , 561px 876px #FFF , 217px 403px #FFF , 864px 1744px #FFF , 1855px 1421px #FFF , 850px 1431px #FFF , 371px 297px #FFF , 1842px 640px #FFF , 213px 1345px #FFF , 202px 1108px #FFF , 328px 1169px #FFF , 200px 73px #FFF , 824px 1702px #FFF , 1271px 1953px #FFF , 1734px 46px #FFF , 1197px 979px #FFF , 1625px 1177px #FFF , 713px 44px #FFF , 420px 58px #FFF , 1908px 1612px #FFF , 324px 449px #FFF , 1048px 1151px #FFF , 314px 1267px #FFF , 814px 501px #FFF , 140px 1485px #FFF , 1923px 1902px #FFF , 399px 885px #FFF , 885px 760px #FFF , 992px 1211px #FFF , 711px 1422px #FFF , 1576px 271px #FFF , 328px 1879px #FFF , 472px 486px #FFF , 1699px 304px #FFF , 1996px 1040px #FFF , 1174px 171px #FFF , 605px 362px #FFF , 489px 1059px #FFF , 1770px 912px #FFF , 34px 1617px #FFF , 1278px 142px #FFF , 765px 122px #FFF , 470px 558px #FFF , 154px 1123px #FFF , 1933px 157px #FFF , 807px 6px #FFF , 586px 250px #FFF , 367px 1631px #FFF , 126px 46px #FFF , 1495px 191px #FFF , 1344px 72px #FFF , 1476px 1624px #FFF , 1999px 1763px #FFF , 493px 668px #FFF , 1708px 1484px #FFF , 1868px 1268px #FFF , 877px 385px #FFF , 821px 1697px #FFF , 367px 432px #FFF , 1451px 1390px #FFF , 989px 1359px #FFF , 1441px 58px #FFF , 1612px 498px #FFF , 915px 897px #FFF , 306px 1654px #FFF , 1342px 1392px #FFF , 106px 480px #FFF , 1929px 1401px #FFF , 974px 974px #FFF , 403px 112px #FFF , 1662px 585px #FFF , 1312px 1932px #FFF , 608px 513px #FFF , 913px 379px #FFF , 441px 578px #FFF , 396px 1130px #FFF , 1475px 1670px #FFF , 393px 224px #FFF , 43px 504px #FFF , 1461px 536px #FFF , 29px 434px #FFF , 490px 1011px #FFF , 656px 1390px #FFF , 1556px 114px #FFF , 694px 1780px #FFF , 1875px 190px #FFF , 967px 1985px #FFF , 1952px 21px #FFF , 1115px 495px #FFF , 1135px 1127px #FFF , 1683px 1747px #FFF , 1838px 1260px #FFF , 1449px 951px #FFF , 128px 670px #FFF , 1868px 1734px #FFF , 978px 1404px #FFF , 888px 767px #FFF , 677px 611px #FFF , 1207px 786px #FFF , 100px 534px #FFF , 350px 74px #FFF , 494px 1323px #FFF , 729px 1982px #FFF , 1399px 290px #FFF , 1528px 1069px #FFF , 232px 723px #FFF , 1228px 192px #FFF , 768px 819px #FFF , 1943px 1934px #FFF , 1338px 1377px #FFF , 949px 1757px #FFF , 1595px 1718px #FFF , 1487px 1013px #FFF , 1731px 1628px #FFF , 974px 128px #FFF , 1176px 1776px #FFF , 514px 928px #FFF , 1642px 556px #FFF , 1478px 1624px #FFF , 1130px 680px #FFF , 313px 799px #FFF , 1441px 587px #FFF , 770px 1391px #FFF , 1874px 149px #FFF , 12px 75px #FFF , 71px 1662px #FFF , 1534px 382px #FFF , 531px 1015px #FFF , 251px 815px #FFF , 726px 1985px #FFF , 1504px 1174px #FFF , 1601px 1638px #FFF , 1498px 365px #FFF , 132px 1260px #FFF , 1876px 65px #FFF , 1430px 459px #FFF , 1194px 1223px #FFF , 221px 1298px #FFF , 1777px 1138px #FFF , 1635px 528px #FFF , 1449px 110px #FFF , 509px 1472px #FFF , 292px 1233px #FFF , 307px 144px #FFF , 1776px 114px #FFF , 1527px 250px #FFF , 738px 187px #FFF , 982px 1621px #FFF , 1500px 222px #FFF , 809px 1721px #FFF , 1460px 160px #FFF , 1096px 705px #FFF , 421px 428px #FFF , 1905px 728px #FFF , 725px 1505px #FFF , 131px 704px #FFF , 708px 1097px #FFF , 267px 500px #FFF , 1372px 1142px #FFF , 1754px 22px #FFF , 1275px 980px #FFF , 1918px 365px #FFF , 1064px 1757px #FFF , 1407px 333px #FFF , 104px 659px #FFF , 1396px 1692px #FFF , 760px 1643px #FFF , 454px 1875px #FFF , 916px 847px #FFF , 1132px 1510px #FFF , 1869px 465px #FFF , 224px 1703px #FFF , 832px 813px #FFF , 954px 776px #FFF , 910px 1305px #FFF , 982px 1053px #FFF , 830px 688px #FFF , 1327px 1017px #FFF , 373px 1898px #FFF , 1673px 1956px #FFF , 1027px 772px #FFF , 1885px 1438px #FFF , 111px 1478px #FFF , 859px 1373px #FFF , 29px 35px #FFF , 1348px 1347px #FFF , 319px 1664px #FFF , 1872px 1577px #FFF , 477px 108px #FFF , 337px 1779px #FFF , 179px 78px #FFF , 575px 399px #FFF , 67px 1696px #FFF , 847px 464px #FFF , 1033px 1181px #FFF , 1790px 88px #FFF , 1790px 1174px #FFF , 245px 250px #FFF , 421px 428px #FFF , 1066px 258px #FFF , 217px 1247px #FFF , 1945px 101px #FFF , 542px 1317px #FFF , 160px 1816px #FFF , 1271px 1357px #FFF , 771px 1691px #FFF , 1763px 1756px #FFF , 1444px 493px #FFF , 1245px 1448px #FFF , 1233px 1046px #FFF , 814px 340px #FFF , 28px 1212px #FFF , 1478px 962px #FFF , 1883px 1629px #FFF , 439px 1600px #FFF , 801px 708px #FFF , 1943px 1480px #FFF , 1573px 697px #FFF , 1678px 876px #FFF , 475px 234px #FFF , 1356px 1497px #FFF , 607px 854px #FFF , 631px 752px #FFF , 704px 597px #FFF , 1294px 102px #FFF , 1779px 546px #FFF , 1675px 1429px #FFF , 135px 1833px #FFF , 1309px 1937px #FFF , 260px 547px #FFF , 1614px 1250px #FFF , 610px 1167px #FFF , 305px 211px #FFF , 866px 1666px #FFF , 497px 1729px #FFF , 69px 1066px #FFF , 121px 1575px #FFF , 1265px 155px #FFF , 869px 941px #FFF , 1793px 1107px #FFF , 254px 865px #FFF , 1722px 1054px #FFF , 496px 1743px #FFF , 952px 844px #FFF , 1439px 1767px #FFF , 1073px 205px #FFF , 1559px 389px #FFF , 887px 747px #FFF , 814px 1541px #FFF , 935px 131px #FFF , 1553px 1041px #FFF , 1428px 353px #FFF , 1301px 1794px #FFF , 680px 322px #FFF , 200px 244px #FFF , 867px 1514px #FFF , 1110px 306px #FFF , 758px 108px #FFF , 1836px 793px #FFF , 295px 1366px #FFF , 433px 245px #FFF , 321px 206px #FFF , 386px 1906px #FFF , 1857px 1917px #FFF , 787px 110px #FFF , 1086px 394px #FFF , 1206px 23px #FFF , 1364px 293px #FFF , 1428px 1796px #FFF , 671px 1017px #FFF , 212px 1966px #FFF , 235px 284px #FFF , 677px 1715px #FFF , 241px 1168px #FFF , 1873px 1664px #FFF , 1018px 1336px #FFF , 333px 1270px #FFF , 43px 1275px #FFF , 98px 674px #FFF , 1219px 285px #FFF , 443px 1219px #FFF , 777px 910px #FFF;
  animation: animStar 50s linear infinite;
}

.stars::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1409px 1584px #FFF , 517px 1363px #FFF , 1597px 567px #FFF , 1097px 850px #FFF , 703px 289px #FFF , 905px 238px #FFF , 719px 541px #FFF , 136px 836px #FFF , 313px 1044px #FFF , 125px 1059px #FFF , 1906px 1977px #FFF , 391px 1494px #FFF , 1070px 39px #FFF , 1230px 196px #FFF , 1108px 1094px #FFF , 1633px 848px #FFF , 669px 387px #FFF , 47px 1389px #FFF , 463px 966px #FFF , 536px 1851px #FFF , 436px 1904px #FFF , 627px 847px #FFF , 144px 641px #FFF , 922px 1451px #FFF , 728px 1277px #FFF , 596px 1903px #FFF , 221px 404px #FFF , 1343px 1798px #FFF , 16px 379px #FFF , 707px 1326px #FFF , 1718px 401px #FFF , 1615px 851px #FFF , 438px 516px #FFF , 1994px 706px #FFF , 1270px 753px #FFF , 1522px 1336px #FFF , 1350px 1419px #FFF , 1600px 1569px #FFF , 1474px 1490px #FFF , 452px 1162px #FFF , 626px 1442px #FFF , 1475px 1370px #FFF , 390px 1343px #FFF , 866px 1081px #FFF , 1775px 1022px #FFF , 1196px 1152px #FFF , 1288px 1916px #FFF , 349px 577px #FFF , 1459px 524px #FFF , 1390px 1114px #FFF , 1635px 1818px #FFF , 1941px 260px #FFF , 887px 906px #FFF , 1183px 616px #FFF , 1041px 1158px #FFF , 768px 468px #FFF , 1744px 646px #FFF , 1032px 1661px #FFF , 490px 1893px #FFF , 521px 1970px #FFF , 1862px 186px #FFF , 155px 961px #FFF , 1166px 1658px #FFF , 723px 890px #FFF , 1190px 286px #FFF , 1246px 441px #FFF , 38px 1147px #FFF , 588px 1576px #FFF , 1811px 1797px #FFF , 507px 973px #FFF , 6px 1036px #FFF , 1184px 785px #FFF , 930px 687px #FFF , 1084px 63px #FFF , 1146px 172px #FFF , 349px 1919px #FFF , 1151px 225px #FFF , 1176px 994px #FFF , 1521px 1704px #FFF , 4px 95px #FFF , 745px 1057px #FFF , 76px 1025px #FFF , 243px 620px #FFF , 19px 1780px #FFF , 897px 1949px #FFF , 1027px 321px #FFF , 292px 1502px #FFF , 685px 577px #FFF , 1746px 393px #FFF , 550px 1981px #FFF , 595px 1550px #FFF , 685px 1714px #FFF , 564px 1042px #FFF , 1507px 1316px #FFF , 1087px 291px #FFF , 943px 1601px #FFF , 1564px 159px #FFF , 972px 750px #FFF , 774px 62px #FFF , 1566px 1380px #FFF , 1396px 1284px #FFF , 1692px 1497px #FFF , 603px 488px #FFF , 591px 1534px #FFF , 1915px 962px #FFF , 1956px 1595px #FFF , 1754px 956px #FFF , 682px 1861px #FFF , 1163px 1760px #FFF , 1018px 1318px #FFF , 961px 1784px #FFF , 1844px 1431px #FFF , 101px 193px #FFF , 1381px 1069px #FFF , 1777px 914px #FFF , 1581px 1498px #FFF , 1063px 763px #FFF , 1807px 554px #FFF , 419px 1970px #FFF , 1913px 1698px #FFF , 165px 1688px #FFF , 287px 1413px #FFF , 544px 221px #FFF , 1869px 1480px #FFF , 1601px 1984px #FFF , 823px 847px #FFF , 178px 170px #FFF , 517px 1182px #FFF , 778px 1014px #FFF , 684px 1793px #FFF , 1938px 1934px #FFF , 1522px 854px #FFF , 79px 1647px #FFF , 1090px 772px #FFF , 130px 275px #FFF , 1812px 1156px #FFF , 540px 1375px #FFF , 125px 1897px #FFF , 1654px 1000px #FFF , 1440px 1069px #FFF , 476px 1829px #FFF , 655px 250px #FFF , 1145px 684px #FFF , 760px 1317px #FFF , 220px 1185px #FFF , 168px 1698px #FFF , 1286px 815px #FFF , 1697px 1879px #FFF , 117px 689px #FFF , 1028px 373px #FFF , 1832px 1576px #FFF , 1663px 1161px #FFF , 1596px 745px #FFF , 1286px 1764px #FFF , 1774px 643px #FFF , 1759px 407px #FFF , 707px 1377px #FFF , 806px 954px #FFF , 653px 1237px #FFF , 886px 680px #FFF , 1518px 756px #FFF , 235px 753px #FFF , 770px 792px #FFF , 1092px 322px #FFF , 1059px 1263px #FFF , 1279px 493px #FFF , 1388px 894px #FFF , 1058px 1580px #FFF , 1555px 56px #FFF , 1347px 1132px #FFF , 1287px 1178px #FFF , 804px 1637px #FFF , 809px 1165px #FFF , 513px 910px #FFF , 1493px 1560px #FFF , 652px 1100px #FFF , 1780px 1697px #FFF , 887px 1448px #FFF , 1337px 36px #FFF , 1341px 177px #FFF , 608px 1976px #FFF , 1328px 648px #FFF , 926px 758px #FFF , 630px 280px #FFF , 490px 1646px #FFF , 1182px 1414px #FFF , 1217px 965px #FFF , 866px 1662px #FFF , 1887px 668px #FFF , 292px 1002px #FFF , 165px 247px #FFF , 1027px 1221px #FFF , 1547px 991px #FFF , 1626px 608px #FFF , 1664px 934px #FFF , 1110px 1193px #FFF , 833px 1908px #FFF , 126px 462px #FFF , 1446px 94px #FFF , 1705px 1875px #FFF , 155px 771px #FFF , 1564px 1953px #FFF , 1679px 1826px #FFF , 594px 209px #FFF , 110px 1424px #FFF , 287px 1466px #FFF , 473px 1359px #FFF , 474px 1838px #FFF , 1731px 1619px #FFF , 740px 577px #FFF , 998px 1195px #FFF , 833px 1798px #FFF , 1728px 306px #FFF , 160px 957px #FFF , 1528px 1622px #FFF , 1975px 1256px #FFF , 637px 1203px #FFF , 1237px 1364px #FFF , 630px 1326px #FFF , 22px 574px #FFF , 290px 736px #FFF , 1171px 23px #FFF , 1736px 1125px #FFF , 877px 1601px #FFF , 1520px 973px #FFF , 223px 958px #FFF , 1505px 802px #FFF , 747px 270px #FFF , 1020px 1196px #FFF , 1327px 703px #FFF , 1889px 795px #FFF , 889px 1006px #FFF , 1517px 286px #FFF , 312px 1004px #FFF , 945px 61px #FFF , 643px 97px #FFF , 740px 1124px #FFF , 1941px 915px #FFF , 1870px 1876px #FFF , 224px 1815px #FFF , 398px 101px #FFF , 1909px 410px #FFF , 1215px 1423px #FFF , 877px 158px #FFF , 1759px 1237px #FFF , 954px 327px #FFF , 1885px 357px #FFF , 1246px 973px #FFF , 450px 126px #FFF , 1434px 1293px #FFF , 612px 1303px #FFF , 298px 1305px #FFF , 15px 401px #FFF , 896px 527px #FFF , 654px 1311px #FFF , 1362px 1367px #FFF , 661px 894px #FFF , 1461px 1498px #FFF , 1117px 771px #FFF , 755px 1276px #FFF , 945px 165px #FFF , 1787px 338px #FFF , 1237px 872px #FFF , 483px 1681px #FFF , 950px 1126px #FFF , 1236px 203px #FFF , 772px 1973px #FFF , 1403px 1956px #FFF , 1203px 852px #FFF , 407px 1024px #FFF , 532px 615px #FFF , 1393px 954px #FFF , 1153px 1872px #FFF , 1246px 1417px #FFF , 511px 277px #FFF , 1829px 955px #FFF , 1013px 1538px #FFF , 221px 689px #FFF , 1843px 1163px #FFF , 607px 965px #FFF , 16px 342px #FFF , 85px 103px #FFF , 1297px 920px #FFF , 295px 1897px #FFF , 1520px 538px #FFF , 407px 419px #FFF , 225px 1825px #FFF , 1224px 1309px #FFF , 221px 271px #FFF , 4px 1204px #FFF , 286px 1589px #FFF , 57px 1140px #FFF , 559px 1392px #FFF , 324px 124px #FFF , 1903px 52px #FFF , 1161px 654px #FFF , 1155px 787px #FFF , 1993px 1135px #FFF , 357px 1845px #FFF , 656px 1978px #FFF , 315px 362px #FFF , 463px 268px #FFF , 1018px 1878px #FFF , 1817px 119px #FFF , 1275px 249px #FFF , 979px 1690px #FFF , 1326px 1882px #FFF , 215px 1400px #FFF , 784px 570px #FFF , 618px 1767px #FFF , 544px 1211px #FFF , 1901px 1621px #FFF , 209px 1624px #FFF , 1754px 1954px #FFF , 236px 811px #FFF , 1731px 1485px #FFF , 1635px 688px #FFF , 1444px 1011px #FFF , 1041px 775px #FFF , 549px 1533px #FFF , 867px 1216px #FFF , 1395px 1636px #FFF , 1991px 457px #FFF , 356px 1242px #FFF , 1588px 597px #FFF , 1021px 972px #FFF , 210px 1256px #FFF , 1862px 5px #FFF , 1251px 407px #FFF , 886px 1491px #FFF , 1200px 177px #FFF , 232px 1298px #FFF , 89px 471px #FFF , 101px 103px #FFF , 19px 931px #FFF , 945px 1845px #FFF , 1445px 1122px #FFF , 1177px 697px #FFF , 1436px 1002px #FFF , 194px 547px #FFF , 1060px 804px #FFF , 348px 703px #FFF , 911px 1665px #FFF , 379px 1647px #FFF , 878px 1734px #FFF , 460px 130px #FFF , 786px 1076px #FFF , 1007px 347px #FFF , 40px 571px #FFF , 1289px 1030px #FFF , 194px 1229px #FFF , 267px 382px #FFF , 1254px 820px #FFF , 1414px 1525px #FFF , 209px 1240px #FFF , 1398px 635px #FFF , 831px 1927px #FFF , 411px 287px #FFF , 535px 1984px #FFF , 1934px 1513px #FFF , 770px 760px #FFF , 712px 631px #FFF , 1177px 1023px #FFF , 977px 295px #FFF , 1590px 677px #FFF , 152px 45px #FFF , 523px 1953px #FFF , 292px 719px #FFF , 786px 1158px #FFF , 1982px 244px #FFF , 1033px 1468px #FFF , 1906px 668px #FFF , 1619px 81px #FFF , 1194px 452px #FFF , 1128px 140px #FFF , 340px 1039px #FFF , 1573px 41px #FFF , 1483px 581px #FFF , 975px 1238px #FFF , 562px 1090px #FFF , 1639px 178px #FFF , 831px 1618px #FFF , 1893px 1714px #FFF , 237px 1990px #FFF , 216px 289px #FFF , 1952px 886px #FFF , 451px 669px #FFF , 503px 169px #FFF , 1099px 1196px #FFF , 1239px 1285px #FFF , 1687px 1569px #FFF , 1996px 1495px #FFF , 495px 396px #FFF , 1909px 79px #FFF , 115px 1452px #FFF , 1406px 1239px #FFF , 696px 259px #FFF , 185px 1681px #FFF , 1578px 1101px #FFF , 1693px 1846px #FFF , 137px 1112px #FFF , 31px 833px #FFF , 1933px 923px #FFF , 196px 1141px #FFF , 968px 1703px #FFF , 541px 1836px #FFF , 1475px 534px #FFF , 1375px 382px #FFF , 655px 58px #FFF , 1327px 764px #FFF , 1740px 1279px #FFF , 899px 1143px #FFF , 1896px 476px #FFF , 1404px 396px #FFF , 104px 1357px #FFF , 391px 1603px #FFF , 111px 1709px #FFF , 836px 292px #FFF , 1038px 777px #FFF , 561px 876px #FFF , 217px 403px #FFF , 864px 1744px #FFF , 1855px 1421px #FFF , 850px 1431px #FFF , 371px 297px #FFF , 1842px 640px #FFF , 213px 1345px #FFF , 202px 1108px #FFF , 328px 1169px #FFF , 200px 73px #FFF , 824px 1702px #FFF , 1271px 1953px #FFF , 1734px 46px #FFF , 1197px 979px #FFF , 1625px 1177px #FFF , 713px 44px #FFF , 420px 58px #FFF , 1908px 1612px #FFF , 324px 449px #FFF , 1048px 1151px #FFF , 314px 1267px #FFF , 814px 501px #FFF , 140px 1485px #FFF , 1923px 1902px #FFF , 399px 885px #FFF , 885px 760px #FFF , 992px 1211px #FFF , 711px 1422px #FFF , 1576px 271px #FFF , 328px 1879px #FFF , 472px 486px #FFF , 1699px 304px #FFF , 1996px 1040px #FFF , 1174px 171px #FFF , 605px 362px #FFF , 489px 1059px #FFF , 1770px 912px #FFF , 34px 1617px #FFF , 1278px 142px #FFF , 765px 122px #FFF , 470px 558px #FFF , 154px 1123px #FFF , 1933px 157px #FFF , 807px 6px #FFF , 586px 250px #FFF , 367px 1631px #FFF , 126px 46px #FFF , 1495px 191px #FFF , 1344px 72px #FFF , 1476px 1624px #FFF , 1999px 1763px #FFF , 493px 668px #FFF , 1708px 1484px #FFF , 1868px 1268px #FFF , 877px 385px #FFF , 821px 1697px #FFF , 367px 432px #FFF , 1451px 1390px #FFF , 989px 1359px #FFF , 1441px 58px #FFF , 1612px 498px #FFF , 915px 897px #FFF , 306px 1654px #FFF , 1342px 1392px #FFF , 106px 480px #FFF , 1929px 1401px #FFF , 974px 974px #FFF , 403px 112px #FFF , 1662px 585px #FFF , 1312px 1932px #FFF , 608px 513px #FFF , 913px 379px #FFF , 441px 578px #FFF , 396px 1130px #FFF , 1475px 1670px #FFF , 393px 224px #FFF , 43px 504px #FFF , 1461px 536px #FFF , 29px 434px #FFF , 490px 1011px #FFF , 656px 1390px #FFF , 1556px 114px #FFF , 694px 1780px #FFF , 1875px 190px #FFF , 967px 1985px #FFF , 1952px 21px #FFF , 1115px 495px #FFF , 1135px 1127px #FFF , 1683px 1747px #FFF , 1838px 1260px #FFF , 1449px 951px #FFF , 128px 670px #FFF , 1868px 1734px #FFF , 978px 1404px #FFF , 888px 767px #FFF , 677px 611px #FFF , 1207px 786px #FFF , 100px 534px #FFF , 350px 74px #FFF , 494px 1323px #FFF , 729px 1982px #FFF , 1399px 290px #FFF , 1528px 1069px #FFF , 232px 723px #FFF , 1228px 192px #FFF , 768px 819px #FFF , 1943px 1934px #FFF , 1338px 1377px #FFF , 949px 1757px #FFF , 1595px 1718px #FFF , 1487px 1013px #FFF , 1731px 1628px #FFF , 974px 128px #FFF , 1176px 1776px #FFF , 514px 928px #FFF , 1642px 556px #FFF , 1478px 1624px #FFF , 1130px 680px #FFF , 313px 799px #FFF , 1441px 587px #FFF , 770px 1391px #FFF , 1874px 149px #FFF , 12px 75px #FFF , 71px 1662px #FFF , 1534px 382px #FFF , 531px 1015px #FFF , 251px 815px #FFF , 726px 1985px #FFF , 1504px 1174px #FFF , 1601px 1638px #FFF , 1498px 365px #FFF , 132px 1260px #FFF , 1876px 65px #FFF , 1430px 459px #FFF , 1194px 1223px #FFF , 221px 1298px #FFF , 1777px 1138px #FFF , 1635px 528px #FFF , 1449px 110px #FFF , 509px 1472px #FFF , 292px 1233px #FFF , 307px 144px #FFF , 1776px 114px #FFF , 1527px 250px #FFF , 738px 187px #FFF , 982px 1621px #FFF , 1500px 222px #FFF , 809px 1721px #FFF , 1460px 160px #FFF , 1096px 705px #FFF , 421px 428px #FFF , 1905px 728px #FFF , 725px 1505px #FFF , 131px 704px #FFF , 708px 1097px #FFF , 267px 500px #FFF , 1372px 1142px #FFF , 1754px 22px #FFF , 1275px 980px #FFF , 1918px 365px #FFF , 1064px 1757px #FFF , 1407px 333px #FFF , 104px 659px #FFF , 1396px 1692px #FFF , 760px 1643px #FFF , 454px 1875px #FFF , 916px 847px #FFF , 1132px 1510px #FFF , 1869px 465px #FFF , 224px 1703px #FFF , 832px 813px #FFF , 954px 776px #FFF , 910px 1305px #FFF , 982px 1053px #FFF , 830px 688px #FFF , 1327px 1017px #FFF , 373px 1898px #FFF , 1673px 1956px #FFF , 1027px 772px #FFF , 1885px 1438px #FFF , 111px 1478px #FFF , 859px 1373px #FFF , 29px 35px #FFF , 1348px 1347px #FFF , 319px 1664px #FFF , 1872px 1577px #FFF , 477px 108px #FFF , 337px 1779px #FFF , 179px 78px #FFF , 575px 399px #FFF , 67px 1696px #FFF , 847px 464px #FFF , 1033px 1181px #FFF , 1790px 88px #FFF , 1790px 1174px #FFF , 245px 250px #FFF , 421px 428px #FFF , 1066px 258px #FFF , 217px 1247px #FFF , 1945px 101px #FFF , 542px 1317px #FFF , 160px 1816px #FFF , 1271px 1357px #FFF , 771px 1691px #FFF , 1763px 1756px #FFF , 1444px 493px #FFF , 1245px 1448px #FFF , 1233px 1046px #FFF , 814px 340px #FFF , 28px 1212px #FFF , 1478px 962px #FFF , 1883px 1629px #FFF , 439px 1600px #FFF , 801px 708px #FFF , 1943px 1480px #FFF , 1573px 697px #FFF , 1678px 876px #FFF , 475px 234px #FFF , 1356px 1497px #FFF , 607px 854px #FFF , 631px 752px #FFF , 704px 597px #FFF , 1294px 102px #FFF , 1779px 546px #FFF , 1675px 1429px #FFF , 135px 1833px #FFF , 1309px 1937px #FFF , 260px 547px #FFF , 1614px 1250px #FFF , 610px 1167px #FFF , 305px 211px #FFF , 866px 1666px #FFF , 497px 1729px #FFF , 69px 1066px #FFF , 121px 1575px #FFF , 1265px 155px #FFF , 869px 941px #FFF , 1793px 1107px #FFF , 254px 865px #FFF , 1722px 1054px #FFF , 496px 1743px #FFF , 952px 844px #FFF , 1439px 1767px #FFF , 1073px 205px #FFF , 1559px 389px #FFF , 887px 747px #FFF , 814px 1541px #FFF , 935px 131px #FFF , 1553px 1041px #FFF , 1428px 353px #FFF , 1301px 1794px #FFF , 680px 322px #FFF , 200px 244px #FFF , 867px 1514px #FFF , 1110px 306px #FFF , 758px 108px #FFF , 1836px 793px #FFF , 295px 1366px #FFF , 433px 245px #FFF , 321px 206px #FFF , 386px 1906px #FFF , 1857px 1917px #FFF , 787px 110px #FFF , 1086px 394px #FFF , 1206px 23px #FFF , 1364px 293px #FFF , 1428px 1796px #FFF , 671px 1017px #FFF , 212px 1966px #FFF , 235px 284px #FFF , 677px 1715px #FFF , 241px 1168px #FFF , 1873px 1664px #FFF , 1018px 1336px #FFF , 333px 1270px #FFF , 43px 1275px #FFF , 98px 674px #FFF , 1219px 285px #FFF , 443px 1219px #FFF , 777px 910px #FFF;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: mulitple-box-shadow(200);
  animation: animStar 100s linear infinite;
}

.stars2::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: mulitple-box-shadow(200);
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: mulitple-box-shadow(100);
  animation: animStar 150s linear infinite;
}

.stars3::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: mulitple-box-shadow(100);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
.background-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 25vh;
  height: 50%;
  padding-top: 15vh;
}

.align-center {
  text-align: center;
}

.background-wrapper h1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.center {
  width: 1000px;
  height: 250px;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center h1 {
  color: #FFFFFF;
  font-size: 6em;
  font-weight: 700;
  margin: 0;
  font-family: "Oxygen", sans-serif;
}

.btnWrapper {
  width: auto;
  height: auto;
  top: 60%;
  position: relative;
  justify-content: center;
}

.FindMebutton {
  justify-content: center;
  align-items: center;
  margin: 7px;
}

.FindMebutton a {
  background: #003b59;
  border-radius: 999px;
  box-shadow: #6da0cd 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: -moz-fit-content;
  width: fit-content;
  word-break: break-word;
  border: 0;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.resumePOP {
  margin: 3% auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 66%;
  height: 85%;
  position: relative;
  transition: all 5s ease-in-out;
  display: flex;
}

.resumePOP .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.resumePOP .close:hover {
  color: #91c6f4;
}

.resumePOP .content {
  max-height: 100%;
  overflow: auto;
}

@media screen and (max-width: 900px) {
  .resumePOP {
    width: 70%;
  }
}
.content {
  display: flex;
  margin-top: 6px;
  margin-left: 20px;
  width: 100%;
  height: 750px;
}

.content p {
  font-family: "Oxygen", sans-serif;
}

.leftResume {
  display: flex;
  background-color: rgb(126, 219, 231);
  width: 2fr;
  height: 100%;
}

.rightResume {
  display: flex;
  background-color: rgb(162, 202, 206);
  width: 4fr;
  height: 100%;
}

.resumeHeader h2 {
  font-size: 2em;
}

.rightResume p {
  font-size: 1em;
}

.profimg {
  justify-content: center;
}

.contact p {
  width: auto;
  padding: 3%;
  text-align: center;
  font-size: 0.7em;
  font-weight: 800;
  opacity: 0.7;
}

.skills {
  display: inline-block;
  white-space: normal;
}

.RL {
  display: flex;
  flex-direction: column;
  font-family: "Oxygen", sans-serif;
}

.RR {
  padding-left: 10px;
  margin-right: auto;
  flex-direction: column;
}

.RR h2 {
  font-size: 3em;
  margin-bottom: 0;
  color: #333;
  font-family: "Oxygen", sans-serif;
}

.RR h5 {
  margin-top: 0;
  font-family: "Oxygen", sans-serif;
}

.RR h3 {
  font-family: "Oxygen", sans-serif;
}

.dl dt {
  font-family: "Oxygen", sans-serif;
}

.RR a {
  text-decoration: none;
  color: #1338BE;
}

.RR a:visited {
  text-decoration: none;
  color: #1338BE;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.Rcontent {
  max-width: 800px;
  margin: 0;
}

.Rcontent a {
  text-decoration: none;
  color: white;
}

.Rcontent a:visited {
  text-decoration: none;
  color: white;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.Summary {
  background-color: red;
}

.Education {
  background-color: yellow;
}

.Languages {
  background-color: green;
}

.Projects {
  background-color: #1338BE;
}/*# sourceMappingURL=main.css.map */